<template>
    <b-row>
        <b-col cols="12" lg="8" class="mb-3" id="form">
            <b-alert
                variant="success"
                dismissible
                :show="alerts.success"
                @dismissed="alerts.success = false"
                fade
            >Book successfully created!</b-alert>

            <b-alert
                variant="danger"
                dismissible
                :show="alerts.failure !== null"
                @dismissed="alerts.failure = null"
                fade
            >Book creation failed! Details:
                <pre><code>{{ alerts.failure }}</code></pre>
            </b-alert>

            <h3>Book Details</h3>
            <book-details-form v-model="book" copy-list @update:valid="v => validity.book = v"></book-details-form>

            <b-button
                :disabled="!validity.book"
                @click="addBook"
                variant="primary"
                :class="{ spinning: spinners.addBook }"
            >
                <spinner v-if="spinners.addBook" start-round></spinner>
                <span v-else>Add Book</span>
            </b-button>
        </b-col>

        <b-col cols="12" lg="4" class="mb-3">
            <book-preview v-bind="book" img-top></book-preview>
        </b-col>
    </b-row>
</template>

<script>
import axios from "axios";

import BookPreview from "@/components/BookPreview";
import BarcodeScanner from "@/components/BarcodeScanner";
import Spinner from "@/components/Spinner";
import InputLabelled from "@/components/InputLabelled";
import BookDetailsForm from "@/forms/BookDetailsForm";

import BRow from "bootstrap-components/layout/row";
import BCol from "bootstrap-components/layout/col";
import BAlert from "bootstrap-components/alert/alert";
import BButton from "bootstrap-components/button/button";

export default {
    name: "AddBook",
    components: {
        BookPreview,
        BarcodeScanner,
        Spinner,
        InputLabelled,
        BookDetailsForm,
        BRow,
        BCol,
        BAlert,
        BButton
    },

    data: function() {
        return {
            book: null,
            validity: {
                book: false
            },
            alerts: {
                success: false,
                failure: null
            },
            spinners: {
                addBook: false
            }
        };
    },
    methods: {
        addBook: function() {
            if (!this.book) return;

            this.spinners.addBook = true;
            this.createBook()
                .then(id => {
                    this.createCopies(id);
                })
                .then(() => {
                    this.alerts.success = true;
                    this.resetFields();
                })
                .catch(error => {
                    this.alerts.failure = JSON.stringify(error);
                })
                .then(() => {
                    this.spinners.addBook = false;
                    this.$scrollTo("#form");
                });
        },
        createBook() {
            let bookData = {};
            Object.assign(bookData, this.book);
            delete bookData.copies;

            return axios
                .post("/api/books", bookData, {
                    validateStatus: status => status === 201
                })
                .then(response => response.data.id);
        },
        createCopies(id) {
            return Promise.all(
                this.book.copies.reduce((acc, copy) => {
                    acc.push(
                        axios.post(
                            `/api/copies?quantity=${copy.quantity}`,
                            {
                                bookId: id,
                                location: copy.location
                            },
                            {
                                validateStatus: status => status === 201
                            }
                        )
                    );

                    return acc;
                }, [])
            );
        },
        resetFields: function() {
            this.book.isbn = "";
            this.book.title = "";
            this.book.description = "";
            this.book.thumbnailUrl = "";
            this.book.authors = [
                {
                    firstName: "",
                    lastName: ""
                }
            ];
            this.book.copies = [
                {
                    location: null,
                    quantity: ""
                }
            ];
        }
    }
};
</script>