<template>
    <b-row>
        <b-col cols="12" md="6">
            <b-form>
                <b-alert
                    :show="successCountdown"
                    dismissible
                    variant="success"
                    @dismissed="successCountdown=0"
                    @dismiss-count-down="successCountdownChanged"
                >
                    <p>Copy successfully created!</p>
                    <b-progress
                        variant="success"
                        :max="successCountdownMax"
                        :value="successCountdown"
                        height="4px"
                    ></b-progress>
                </b-alert>

                <b-alert
                    variant="danger"
                    dismissible
                    :show="showFailureAlert"
                    @dismissed="showFailureAlert=false"
                >Copy creation failed! Server response:
                    <pre><code>{{ errorMessage }}</code></pre>
                </b-alert>

                <b-form-group description="The name  of the book for which you are adding a copy.">
                    <autocomplete
                        source="/api/books?query="
                        results-property="content"
                        results-display="title"
                        results-value="id"
                        v-model="bookId"
                        placeholder="Search for book..."
                    ></autocomplete>
                </b-form-group>

                <b-form-group
                    description="The location of the copy you are adding. If this book is not physical, use eBook."
                >
                    <b-form-select v-model="location">
                        <option :value="null">Copy location...</option>
                        <option value="bristol">Bristol</option>
                        <option value="london">London</option>
                        <option value="sf">San Francisco</option>
                        <option value="ebook">eBook</option>
                    </b-form-select>
                </b-form-group>
                <b-button variant="primary" v-on:click="addCopy">Add Copy</b-button>
            </b-form>
        </b-col>
        <b-col cols="12" md="6" class="mt-3 mt-md-0 mb-3">
            <book-preview v-bind="bookPreview"></book-preview>
        </b-col>
    </b-row>
</template>

<script>
import axios from "axios";

import BookPreview from "@/components/BookPreview";
import InputLabelled from "@/components/InputLabelled";

import Autocomplete from "vuejs-auto-complete";

import BRow from "bootstrap-components/layout/row";
import BCol from "bootstrap-components/layout/col";
import BForm from "bootstrap-components/form/form";
import BAlert from "bootstrap-components/alert/alert";
import BProgress from "bootstrap-components/progress/progress";
import BFormGroup from "bootstrap-components/form-group/form-group";
import BFormSelect from "bootstrap-components/form-select/form-select";
import BButton from "bootstrap-components/button/button";

const defaultPreview = {
    title: "Unknown Book",
    description: "Please enter a valid book ID",
    authors: []
};

export default {
    name: "AddCopy",
    components: {
        BookPreview,
        InputLabelled,
        BRow,
        BCol,
        BForm,
        BAlert,
        BProgress,
        BFormGroup,
        BFormSelect,
        BButton,
        Autocomplete
    },
    data: function() {
        return {
            location: null,
            bookId: this.$route.params.id,
            successCountdown: 0,
            successCountdownMax: 5,
            showFailureAlert: false,
            errorMessage: "",
            defaultPreview,
            loading: false
        };
    },
    created: function() {
        if (this.bookId != null) this.updatePreview();
    },

    methods: {
        addCopy: function() {
            if (this.bookId == null || this.location == null) {
                alert("Please fill in the required fields");
                return;
            }

            let copyData = {
                bookId: this.bookId,
                location: this.location
            };

            axios
                .post("/api/copies", copyData)
                .catch(error => {
                    this.errorMessage = JSON.stringify(
                        error.response.data,
                        null,
                        4
                    );
                    this.showFailureAlert = true;
                })
                .then(response => {
                    if (response.status === 201) {
                        this.successCountdown = this.successCountdownMax;
                        this.resetFields();
                    }
                });
        },
        resetFields: function() {
            this.location = null;
            this.bookId = null;
        },
        successCountdownChanged: function(successCountdown) {
            this.successCountdown = successCountdown;
        }
    },
    beforeRouteUpdate(to, from, next) {
        this.bookId = to.params.id;
        this.updatePreview();
        next();
    },

    asyncComputed: {
        bookPreview() {
            if (this.bookId == undefined) return this.defaultPreview;

            return axios
                .get("/api/books/" + this.bookId)
                .then(response => {
                    if (response.status == 200) {
                        return response.data;
                    }
                })
                .catch(error => {
                    console.log(error);
                    return this.defaultPreview;
                });
        }
    }
};
</script>
