<template>
    <div>
        <b-nav pills class="mb-5 justify-content-center">
            <b-nav-item
                :active="$route.name == 'overdueCopies'"
                :to="{ name: 'overdueCopies' }"
            >Books on Loan</b-nav-item>
            <b-nav-item :active="$route.name == 'requests'" :to="{ name: 'requests' }">Requests</b-nav-item>
            <b-nav-item :active="$route.name == 'addBook'" :to="{ name: 'addBook' }">Add Book</b-nav-item>
            <b-nav-item :active="$route.name == 'addCopy'" :to="{ name: 'addCopy' }">Add Copy</b-nav-item>
            <b-nav-item
                :active="$route.name == 'deleteBookCopy'"
                :to="{ name: 'deleteBookCopy' }"
            >Delete Book or Copy</b-nav-item>
        </b-nav>
        <router-view></router-view>
    </div>
</template>

<script>
import BNav from "bootstrap-components/nav/nav";
import BNavItem from "bootstrap-components/nav/nav-item";

export default {
    name: "AdminView",
    components: { BNav, BNavItem }
};
</script>