<template>
    <div>
        <b-row>
            <b-col cols="12" md="6">
                <b-form>
                    <b-alert
                            :show="alerts.success"
                            dismissible
                            variant="success"
                            @dismissed="alerts.success = false"
                    >
                        <p>Book successfully deleted!</p>
                    </b-alert>

                    <b-alert
                            variant="danger"
                            dismissible
                            :show="alerts.failure !== null"
                            @dismissed="alerts.failure = null"
                    >Book deletion failed! Server response:
                        <pre><code>{{ alerts.failure }}</code></pre>
                    </b-alert>

                    <b-form-group
                            description="The name  of the book which you want to delete or delete a copy for."
                    >
                        <autocomplete
                                source="/api/books?query="
                                results-property="content"
                                results-display="title"
                                results-value="id"
                                v-model="bookId"
                                placeholder="Enter book title"
                        ></autocomplete>
                    </b-form-group>

                    <div v-if="!!bookId">
                        <h4 class="mb-2">Delete This Book</h4>
                        <div class="pb-4" style="display: table-cell">
                            <b-button
                                    @click.stop="deleteBook"
                                    variant="danger"
                                    :class="{ spinning: spinners.deletingBook }"
                                    style="display: inline-block"
                            >
                                <spinner v-if="spinners.deletingBook" start-round></spinner>
                                <span v-else>Delete Book</span>
                            </b-button>
                            <small class="ml-2 text-muted" style="vertical-align: middle">This will delete this book and all of its copies</small>
                        </div>

                        <h4 class="mb-2">Delete Copies of This Book</h4>
                        <copies-table delete-mode :book-id="bookId"></copies-table>

                    </div>
                </b-form>
            </b-col>
            <b-col cols="12" md="6" class="mt-3 mt-md-0 mb-3">
                <book-preview v-bind="bookPreview"></book-preview>
            </b-col>
        </b-row>

        <b-row v-if="!!bookId">
            <h4 class="mb-2">Delete Reviews of This Book</h4>
            <ReviewsCards delete-mode :book-id="bookId"></ReviewsCards>
        </b-row>


    </div>
</template>

<script>
import axios from "axios";

import BookPreview from "@/components/BookPreview";
import InputLabelled from "@/components/InputLabelled";
import CopiesTable from "@/components/CopiesTable";
import ReviewsCards from "@/components/ReviewsCards";
import Spinner from "@/components/Spinner";

import Autocomplete from "vuejs-auto-complete";
import BRow from "bootstrap-components/layout/row";
import BCol from "bootstrap-components/layout/col";
import BForm from "bootstrap-components/form/form";
import BAlert from "bootstrap-components/alert/alert";
import BProgress from "bootstrap-components/progress/progress";
import BFormGroup from "bootstrap-components/form-group/form-group";
import BFormSelect from "bootstrap-components/form-select/form-select";
import BButton from "bootstrap-components/button/button";

const defaultPreview = {
    title: "Unknown Book",
    description: "Please enter a valid book ID",
    authors: []
};

export default {
    name: "DeleteBookCopy",
    components: {
        BookPreview,
        InputLabelled,
        CopiesTable,
        ReviewsCards,
        Spinner,
        BRow,
        BCol,
        BForm,
        BAlert,
        BProgress,
        BFormGroup,
        BFormSelect,
        BButton,
        Autocomplete
    },
    data: function() {
        return {
            bookId: this.$route.params.id,
            alerts: {
                failure: null,
                success: false
            },
            spinners: {
                deletingBook: false
            },
            defaultPreview
        };
    },
    created: function() {
        if (this.bookId != null) this.updatePreview();
    },

    methods: {
        deleteBook() {
            if (!confirm("Are you sure you want to delete this book? This will delete this book and all of its copies.")) return;

            if (this.spinners.deletingBook) return;

            this.spinners.deletingBook = true;

            axios
                .delete(`/api/books/${this.bookId}`)
                .then(() => {
                    this.alerts.success = true;
                    this.bookId = null;
                })
                .catch(error => {
                    this.alerts.failure = JSON.stringify(error);
                })
                .then(() => {
                    this.spinners.deletingBook = false;
                });
        }
    },

    asyncComputed: {
        bookPreview() {
            if (!this.bookId) return this.defaultPreview;

            return axios
                .get("/api/books/" + this.bookId)
                .then(response => {
                    if (response.status == 200) {
                        return response.data;
                    }
                })
                .catch(error => {
                    console.log(error);
                    return this.defaultPreview;
                });
        }
    }
};
</script>
