<template>
    <div>
        <b-form-group label-cols="3" label="Location" class="mb-0">
            <b-input-group>
                <b-form-select
                    v-model="filters.location"
                    @change="filters.location=$event; refreshTable()"
                >
                    <option value="anywhere">Any</option>
                    <option value="bristol">Bristol</option>
                    <option value="london">London</option>
                    <option value="sf">San Francisco</option>
                    <option value="ebook">eBook</option>
                </b-form-select>
            </b-input-group>
        </b-form-group>

        <b-table
            ref="table"
            :items="getCopies"
            :fields="fields"
            stacked="md"
            class="mt-3 overdue-copies"
        >
            <template slot="location" slot-scope="row">
                <location-badge :location="row.item.location"></location-badge>
            </template>

            <template
                slot="lending.checkOutDate"
                slot-scope="row"
            >{{ getDaysCount(row.item.lending.checkOutDate) }}</template>

            <template slot="lending.email" slot-scope="row">
                <a :href="'mailto:' + row.item.lending.email">{{ row.item.lending.email }}</a>
            </template>

            <template slot="table-busy">
                <spinner></spinner>
            </template>
        </b-table>
    </div>
</template>

<script>
import axios from "axios";
import dayjs from "dayjs";

import Spinner from "@/components/Spinner";
import LocationBadge from "@/components/LocationBadge";

import BFormGroup from "bootstrap-components/form-group/form-group";
import BFormSelect from "bootstrap-components/form-select/form-select";
import BInputGroup from "bootstrap-components/input-group/input-group";
import BTable from "bootstrap-components/table/table";

export default {
    name: "OverdueCopies",
    components: {
        Spinner,
        LocationBadge,
        BFormGroup,
        BFormSelect,
        BInputGroup,
        BTable
    },
    data: function() {
        return {
            fields,
            totalRows: 0,
            filters: {
                location: "anywhere"
            }
        };
    },
    methods: {
        getCopies: function(context, callback) {
            let promise = axios.get("/api/copies", {
                params: {
                    sortby: "checkout_date",
                    availability: "unavailable",
                    location: this.filters.location
                }
            });

            return promise.then(response => {
                this.totalRows = response.data.totalElements;

                return response.data;
            });
        },
        getDaysCount: function(timestamp) {
            return dayjs().diff(dayjs(timestamp), "days");
        },
        refreshTable: function() {
            this.$refs.table.refresh();
        }
    }
};

const fields = {
    "book.title": { label: "Book Title" },
    location: { label: "Location" },
    "lending.email": { label: "With" },
    "lending.checkOutDate": { label: "Days Since Check Out" }
};
</script>
