<template>
    <div>
        <b-form-group label-cols="3" label="Location">
            <b-input-group>
                <b-form-select
                    v-model="filters.location"
                    @change="filters.location=$event; refreshTable()"
                >
                    <option value="anywhere">Any</option>
                    <option value="bristol">Bristol</option>
                    <option value="london">London</option>
                    <option value="sf">San Francisco</option>
                    <option value="ebook">eBook</option>
                </b-form-select>
            </b-input-group>
        </b-form-group>

        <b-form-group label-cols="3" label="Status" class="mb-4">
            <b-input-group>
                <b-form-select
                    v-model="filters.status"
                    @change="filters.status=$event; refreshTable()"
                >
                    <option value="any">Any</option>
                    <option value="created">Created</option>
                    <option value="ordered">Ordered</option>
                    <option value="rejected">Rejected</option>
                    <option value="completed">Completed</option>
                </b-form-select>
            </b-input-group>
        </b-form-group>

        <b-button variant="danger" @click="deleteAll">Delete All Completed And Rejected</b-button>

        <b-table
            hover
            ref="table"
            :items="getRequests"
            :fields="fields"
            v-on:row-clicked="viewRequest"
            stacked="lg"
            :per-page="perPage"
            :current-page="currentPage"
            class="mt-3 requests-table"
            empty-text="No requests available"
            show-empty
            @refreshed="firstLoad = true"
        >
            <template slot="location" slot-scope="row">
                <location-badge :location="row.item.location"></location-badge>
            </template>

            <template slot="status" slot-scope="row">
                <status-badge :status="row.item.status"></status-badge>
            </template>

            <template slot="dateCreated" slot-scope="row">{{ getDaysCount(row.item.dateCreated) }}</template>

            <template slot="email" slot-scope="row">
                <a :href="'mailto:' + row.item.email">{{ row.item.email }}</a>
            </template>

            <template slot="adminEmail" slot-scope="row">
                <a :href="'mailto:' + row.item.adminEmail">{{ row.item.adminEmail }}</a>
            </template>

            <template slot="table-busy">
                <spinner></spinner>
            </template>
        </b-table>

        <request-modal v-bind="currentRequest" @updated="refreshTable()" ref="currentRequestModal"></request-modal>
    </div>
</template>

<script>
import axios from "axios";
import dayjs from "dayjs";

import RequestModal from "@/components/RequestModal";
import Spinner from "@/components/Spinner";
import LocationBadge from "@/components/LocationBadge";
import StatusBadge from "@/components/StatusBadge";

import BFormGroup from "bootstrap-components/form-group/form-group";
import BFormSelect from "bootstrap-components/form-select/form-select";
import BInputGroup from "bootstrap-components/input-group/input-group";
import BTable from "bootstrap-components/table/table";
import BButton from "bootstrap-components/button/button";

export default {
    name: "Requests",
    components: {
        RequestModal,
        Spinner,
        LocationBadge,
        StatusBadge,
        BFormGroup,
        BFormSelect,
        BInputGroup,
        BTable,
        BButton
    },
    data: function() {
        return {
            fields,
            detailFields,
            currentRequest: null,
            perPage: 0,
            currentPage: 1,
            totalRows: 0,
            filters: {
                location: "anywhere",
                status: "any"
            }
        };
    },
    methods: {
        getRequests: function(context, callback) {
            let promise = axios.get("/api/requests", {
                params: {
                    page: context.currentPage,
                    limit: context.perPage,
                    location: this.filters.location,
                    status: this.filters.status
                }
            });

            return promise.then(response => {
                this.totalRows = response.data.totalElements;

                let requests = response.data.content;
                for (let request of requests) {
                    request.title = request.book.title;
                    request.authorsStr = request.book.authors
                        .map(author => author.firstName + " " + author.lastName)
                        .join(", ");
                }
                return requests;
            });
        },
        getDaysCount: function(timestamp) {
            return dayjs().diff(dayjs(timestamp), "days");
        },
        refreshTable: function() {
            this.$refs.table.refresh();
        },
        viewRequest: function(request) {
            this.currentRequest = request;
            this.$refs.currentRequestModal.onShown();
        },
        deleteAll: function() {
            axios
                .delete("/api/requests")
                .catch(error => {
                    console.log(error);
                })
                .then(() => {
                    this.$refs.table.refresh();
                });
        }
    }
};

const fields = {
    title: { label: "Book Title" },
    location: { label: "Location" },
    status: { label: "Status" },
    quantity: { label: "Quantity" },
    email: { label: "Submitted By" },
    adminEmail: { label: "Staff Responsible" },
    dateCreated: { label: "Days Since Submission" }
};

const detailFields = {
    authorsStr: { label: "Authors" }
};
</script>
