.btn {
    font-weight: $semi-bold;

    font-size: 13px;
    line-height: 1em;

    border-radius: 50px; // overly high value to make fully round, not sure how to do properly?
    height: 2.35rem;
    padding: 0.7rem 1rem;
    border-width: 0;

    ​span {
        display: inline-block;
    }

    &.btn-round {
        width: 2.35rem;
        padding: 0;
    }
}

.btn-group-toggle > .btn {
    &:not(.disabled) {
        cursor: pointer;
    }

    @media (max-width: 767.67px) {
        padding: 0.7rem 1rem; // centering status update buttons in requests
    }
}

div.input-group > .btn {
    padding: 0rem 1rem; // centering single book page check out button
}

.btn-sm {
    height: 1.6rem;
    font-size: 11px;
}

.btn.spinning {
    .spinner {
        height: inherit;
        width: inherit;

        .logo {
            width: inherit;
            height: inherit;
        }
    }

    box-shadow: none;

    background-color: transparent;
    padding: 0;
}

@each $color, $value in $theme-colors {
    .btn.btn-#{$color}.spinning .spinner .logo .septagon {
        fill: $value;
    }
}
