.card {
    .book-title {
        font-weight: $regular;
    }

    .book-description {
        font-size: 0.9rem;
    }

    &.bg-light .book-authors {
        color: $text-dark-muted;
    }

    &.bg-dark {
        border: none;

        .book-authors {
            color: $text-light-muted;
        }
    }

    .truncate-link {
        color: #007bff !important;
    }

    img {
        object-fit: contain;
        min-width: 40%;
        max-height: 60vh;
    }
}
