h1 {
    font-size: 60px;
    font-weight: $regular;
    line-height: 60px;
    margin-bottom: 30px;
}

h2 {
    font-size: 48px;
    font-weight: $regular;
    line-height: 48px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    font-weight: $regular;
    line-height: 36px;
    margin-bottom: 30px;
}

h4 {
    font-size: 21px;
    font-weight: $regular;
    line-height: 30px;
    margin-bottom: 30px;
}
