input.form-control,
textarea.form-control,
.custom-select {
    transition: box-shadow 0.2s, color 0.2s;
    border-radius: 0;

    color: $text-dark-muted;
    font-size: 13px;
    line-height: 1em;

    border: none;

    padding: 0.85em 10px;

    &:focus {
        box-shadow: inset 4px 0 0 0 $secondary;
        color: $text-dark;
    }

    &.is-invalid {
        box-shadow: inset 0 -2px 0 0 theme-color("danger");
        &:focus {
            box-shadow: inset 4px 0 0 0 theme-color("danger");
        }
    }

    &.is-valid:focus {
        box-shadow: inset 4px 0 0 0 $secondary; // override green glow
    }
}

// auto complete fields

.autocomplete {
    & > .autocomplete__box {
        border-radius: 0;
        padding: 10px;
        font-weight: 500;
        font-size: 12px;
        height: 2.35rem;
        border: none;
    }
}

input.form-control {
    height: 2.35rem;
}

.input-group > .input-group-append {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: white;
    margin: 0;

    @each $color, $value in $theme-colors {
        &.input-group-append-#{$color} {
            background-color: $value;
        }
    }

    > .btn {
        border-radius: 50px;
    }
}

/* Labelled Input */
.input-group {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
}

.input-labelled-container {
    position: relative;
    display: flex;
    flex: 1 1 auto;
}

input.form-control.labelled,
textarea.form-control.labelled {
    &:focus,
    &.non-empty {
        padding: 1.35em 0px 0.35em 10px;
    }

    & + label {
        font-size: 12px;
        position: absolute;
        top: 10px;
        left: 10px;
        color: rgb(108, 117, 125);
        pointer-events: none;
        transition: top 0.2s, left 0.2s, font-size 0.2s, padding-top 0.2s;
    }

    &:focus + label,
    &.non-empty + label {
        z-index: 3;
        font-size: 9px;
        top: 0px;

        // covers text underneath the label in textareas
        padding-top: 4px;
        padding-right: 10px;
        background-color: white;
    }
}
