.navbar.main-nav {
    .navbar-brand {
        h3 {
            display: inline;
            font-weight: $regular;
            margin-left: 1.5rem;
        }

        img.spuddy {
            height: 60px;
        }
    }

    .navbar-nav {
        .current-email {
            font-size: 13px;
            color: $text-light-muted;
        }

        .nav-item .nav-link {
            border-radius: 0;
            transition: box-shadow 0.5s;
            color: $text-light;

            &.router-link-active {
                box-shadow: inset 0 -2px 0 0 $text-light;
            }
        }
    }

    .dropdown-menu {
        border-radius: 0;
    }

    margin-bottom: 2rem;
}
