.pagination {
    .page-item {
        .page-link {
            font-size: 13px;
            font-weight: $semi-bold;
            line-height: 15px;
            border: 0;

            height: 37px;
            line-height: 37px;
            width: 37px;
            padding: 0;
            margin: 0;

            text-align: center;

            border-radius: 50px;

            background-color: $secondary;
            color: white;

            &:hover {
                background-color: $secondary-1-dark;
            }
        }

        &.active > .page-link {
            background-color: $secondary-2-light;
        }

        &.disabled > .page-link {
            background-color: $secondary-2-dark;
        }

        background-color: $secondary;

        &:first-child {
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;

            .page-link {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        &:nth-child(2) > .page-link {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:last-child {
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;

            .page-link {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        &:nth-last-child(2) > .page-link {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}
