table.table.b-table {
    color: white;

    thead tr {
        background-color: $dark;
    }

    td,
    th {
        border: none;
        vertical-align: middle;
    }

    tbody {
        tr:nth-child(even) {
            background-color: rgb(21, 12, 31);
            border: 0;
        }

        tr:nth-child(odd) {
            background-color: rgb(42, 24, 61);
        }

        .b-table-busy-slot {
            text-align: center;
        }
    }

    &.table-hover tbody tr:not(.b-table-busy-slot):not(.b-table-empty-row) {
        cursor: pointer;
    }
}

table.table.table-hover {
    tbody tr:hover {
        color: $dark-3;
    }

    tbody tr.b-table-busy-slot:hover,
    tbody tr.b-table-empty-row:hover {
        color: white;
    }
}
