<template>
    <div id="scanner-container" :style="{ display : scanning ? 'block' : 'none' }"></div>
</template>

<script>
import Quagga from "quagga";

export default {
    name: "BarcodeScanner",
    props: {
        scanning: Boolean
    },
    watch: {
        scanning: function(newVal, oldVal) {
            if (newVal) {
                this.startScanning();
            } else {
                this.stopScanning();
            }
        }
    },
    methods: {
        startScanning: function() {
            Quagga.init(
                {
                    inputStream: {
                        name: "Live",
                        type: "LiveStream",
                        target: document.querySelector("#scanner-container"),
                        constraints: {
                            width: { min: 640 },
                            height: { min: 480 },
                            facingMode: "environment",
                            aspectRatio: { min: 1, max: 2 }
                        }
                    },
                    locator: {
                        patchSize: "medium",
                        halfSample: true
                    },
                    numOfWorkers: 2,
                    frequency: 10,
                    decoder: {
                        readers: ["ean_reader"]
                    },
                    locate: true
                },
                error => {
                    if (error) {
                        this.$emit("error", error);
                        return;
                    }

                    Quagga.canvas.dom.overlay.style.display = "none";

                    Quagga.start();
                }
            );

            Quagga.onDetected(result => {
                let code = result.codeResult.code;

                this.$emit("result", code);
            });
        },
        stopScanning: function() {
            Quagga.stop();
        }
    }
};
</script>

<style scoped>
video {
    max-width: 90%;
}
</style>
