<template>
    <b-card
        :img-src="imageUrl"
        :img-top="imgTop"
        :img-left="!imgTop"
        img-alt="Book Cover Image"
        :bg-variant="bgVariant"
        :text-variant="textVariant"
    >
        <h3 class="book-title" v-if="!simple">{{ titleStr }}</h3>

        <p class="card-text" style="text-align: justify">
            <truncate
                action-class="truncate-link"
                :length="truncateLength"
                :text="descriptionStr"
                class="book-description"
            ></truncate>
        </p>

        <span class="book-authors" v-if="!simple">{{ authorsStr }}</span>
    </b-card>
</template>

<script>
import truncate from "vue-truncate-collapsed";

import BCard from "bootstrap-components/card/card";

export default {
    name: "BookPreview",
    components: { truncate, BCard },
    props: {
        title: String,
        authors: Array,
        description: String,
        thumbnailUrl: String,
        bgVariant: {
            type: String,
            default: "light"
        },
        textVariant: {
            type: String,
            default: "dark"
        },
        truncateLength: {
            type: Number,
            default: 250
        },
        imgTop: {
            type: Boolean,
            default: false
        },
        simple: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        authorsStr: function() {
            if (
                !this.authors ||
                !this.authors.filter(
                    author => !!author.lastName || !!author.firstName
                ).length > 0
            ) {
                return "No authors";
            }

            return (
                "By " +
                this.authors
                    .filter(author => !!author.lastName || !!author.firstName)
                    .map(author => author.firstName + " " + author.lastName)
                    .join(", ")
            );
        },
        imageUrl: function() {
            return !this.thumbnailUrl
                ? require("../assets/no_image.svg")
                : this.thumbnailUrl;
        },
        titleStr: function() {
            return !this.title ? "No title" : this.title;
        },
        descriptionStr: function() {
            return !this.description ? "No description" : this.description;
        }
    }
};
</script>

