<template>
    <div>
        <b-alert
            variant="danger"
            dismissible
            :show="alerts.failure !== null"
            @dismissed="alerts.failure = null"
        >Request creation failed! Details:
            <pre><code>{{ alerts.failure }}</code></pre>
        </b-alert>

        <b-table
            hover
            :items="copies"
            :fields="table.fields"
            :sort-by.sync="table.sort.by"
            :sort-desc.sync="table.sort.desc"
            :busy="$asyncComputed.copies.updating"
            no-local-sorting
            stacked="md"
            empty-text="No copies available"
            show-empty
        >
            <template slot="location" slot-scope="row">
                <location-badge :location="row.item.location"></location-badge>
            </template>

            <template
                slot="available"
                slot-scope="row"
            >{{ row.item.available ? "Yes" : "No (with " + row.item.lending.email + " since " + getDaysCount(row.item.lending.checkOutDate) + " days ago)" }}</template>

            <template slot="checkInOut" slot-scope="row">

                <b-button variant="danger" v-if="deleteMode" @click="deleteCopy(row.item.id)">Delete</b-button>

                <b-input-group v-else>
                    <transition name="swing">
                        <input-labelled
                            type="email"
                            size="sm"
                            v-if="signingIn === row.item.id"
                            v-model="email"
                            label="Email"
                            :class="{ invalid : $v.email.$invalid }"
                        ></input-labelled>
                    </transition>

                    <b-input-group-append v-if="signingIn === row.item.id">
                        <b-button
                            @click.stop="checkInOut(row.item)"
                            variant="primary"
                            :disabled="$v.email.$invalid"
                            :class="{ spinning: spinners.checkInOut == row.item.id }"
                        >
                            <spinner v-if="spinners.checkInOut === row.item.id" start-round></spinner>
                            <span v-else>Check {{ row.item.available ? 'Out' : 'In'}}</span>
                        </b-button>
                    </b-input-group-append>

                    <b-button
                        @click.stop="checkInOut(row.item)"
                        :variant="!$cookies.email ? 'secondary' : 'primary'"
                        :disabled="$cookies.email !== undefined && !row.item.available && ($cookies.email !== row.item.lending.email)"
                        :class="{ spinning: spinners.checkInOut == row.item.id }"
                        v-else
                    >
                        <spinner v-if="spinners.checkInOut === row.item.id" start-round></spinner>
                        <span v-else>{{ row.item.available ? 'Check Out' : 'Return'}}</span>
                    </b-button>
                </b-input-group>
            </template>

            <template slot="table-busy">
                <spinner></spinner>
            </template>
        </b-table>
    </div>
</template>

<script>
import axios from "axios";
import dayjs from "dayjs";

import Spinner from "@/components/Spinner";
import InputLabelled from "@/components/InputLabelled";
import LocationBadge from "@/components/LocationBadge";

import BTable from "bootstrap-components/table/table";
import BButton from "bootstrap-components/button/button";
import BAlert from "bootstrap-components/alert/alert";
import BRow from "bootstrap-components/layout/row";
import BCol from "bootstrap-components/layout/col";
import BForm from "bootstrap-components/form/form";
import BInputGroup from "bootstrap-components/input-group/input-group";
import BInputGroupAppend from "bootstrap-components/input-group/input-group-append";

import { required, email } from "vuelidate/lib/validators";
import { EventBus } from './event-bus.js';

export default {
    name: "CopiesTable",
    components: {
        Spinner,
        InputLabelled,
        LocationBadge,
        BTable,
        BButton,
        BAlert,
        BRow,
        BCol,
        BForm,
        BInputGroup,
        BInputGroupAppend
    },
    props: {
        bookId: {
            type: Number,
            required: true
        },
        deleteMode: {
            type: Boolean,
            default: false
        }
    },
    data: function() {
        return {
            fields,
            alerts: {
                failure: null
            },
            spinners: {
                checkInOut: null
            },
            email: null,
            signingIn: null,
            table: {
                fields,
                sort: {
                    by: "checkout_date",
                    desc: true
                }
            }
        };
    },
    methods: {
        signIn: function() {
            if (!!this.email) {
                this.$setCookie("email", this.email, { expires: 365 });
                this.signingIn = null;
            }
        },
        checkInOut: function(copy) {
            if (!this.$cookies.email) {
                if (this.signingIn === copy.id) {
                    this.signIn();
                } else {
                    this.signingIn = copy.id;
                    return;
                }
            }

            let email = this.$cookies.email;

            this.spinners.checkInOut = copy.id;
            this.toggleAvailable(copy, email)
                .catch(error => {
                    this.alerts.failure = JSON.stringify(error);
                })
                .then(() => {
                    this.spinners.checkInOut = null;
                });
        },
        toggleAvailable: function(copy, email) {
            let inOrOut = copy.available ? "out" : "in";
            return axios
                .put(`/api/copies/${copy.id}/check_${inOrOut}?email=${email}`)
                .then(response => {
                    copy.available = !copy.available;
                    copy.lending = response.data.lending;
                    EventBus.$emit('lendingChange');
                });
        },
        getDaysCount: function(timestamp) {
            return dayjs().diff(dayjs(timestamp), "days");
        },
        deleteCopy(id) {

            if (!confirm("Are you sure you want to delete this copy?")) return;

            axios
                .delete(`/api/copies/${id}`)
                .then(() => {
                    this.copies = this.copies.filter(copy => copy.id !== id);
                })
                .catch(error => {
                    console.log(error);
                });
        }
    },
    asyncComputed: {
        copies() {
            let promise = axios.get("/api/copies", {
                params: {
                    bookid: this.bookId,
                    sortby: this.table.sort.by,
                    sortDirection: this.table.sort.desc ? "DESC" : "ASC",
                    limit: 0
                }
            });

            return promise.then(response => {
                let copies = response.data;
                for (let copy of copies) {
                    copy.available =
                        copy.lending === null ||
                        copy.lending.checkInDate !== null;
                }

                return copies;
            });
        }
    },
    validations: {
        email: {
            required,
            email
        }
    }
};

const fields = {
    location: {
        sortable: false
    },
    available: {
        label: "Available",
        sortable: false
    },
    checkInOut: {
        label: ""
    }
};
</script>