<template>
    <b-form-group
        :label="label"
        :description="description"
        class="input-list"
        :class="{ empty: rows === 0 }"
    >
        <b-button @click="addItem()" variant="success" class="btn-round add-button">
            <font-awesome-icon icon="plus"></font-awesome-icon>
        </b-button>
        <transition-group name="slide-down">
            <b-row v-for="index in rows" :key="index" :class="{ 'mb-2': index < rows }">
                <b-col>
                    <slot v-bind:index="index - 1"></slot>
                </b-col>
                <b-col cols="auto">
                    <b-button
                        variant="danger"
                        @click="removeItem(index - 1)"
                        class="btn-round"
                        :disabled="index === 1 && !emptyAllowed"
                    >
                        <font-awesome-icon icon="minus"></font-awesome-icon>
                    </b-button>
                </b-col>
            </b-row>
        </transition-group>
    </b-form-group>
</template>

<script>
import BButton from "bootstrap-components/button/button";
import BRow from "bootstrap-components/layout/row";
import BCol from "bootstrap-components/layout/col";
import BFormGroup from "bootstrap-components/form-group/form-group";

export default {
    name: "InputList",
    components: { BButton, BRow, BCol, BFormGroup },
    props: {
        rows: {
            type: Number,
            required: true
        },
        emptyAllowed: {
            type: Boolean,
            default: false
        },
        label: {
            type: String,
            required: true
        },
        description: {
            type: String,
            default: null
        }
    },
    methods: {
        addItem: function() {
            this.$emit("add-row");
        },
        removeItem: function(index) {
            this.$emit("remove-row", index);
        }
    }
};
</script>

<style lang="scss" scoped>
.input-list {
    position: relative;

    .add-button {
        position: absolute;
        left: calc(100% - 2.35rem);
        margin-top: -2.35rem - 0.5rem;
    }

    .col-form-label {
        padding-top: calc(2.35rem - (1.5em + 0.375rem)) !important;
        margin-bottom: 0.5rem;
    }

    small.form-text.text-muted {
        transition: margin-top 0.3s;
    }

    &.empty small.form-text.text-muted {
        margin-top: -1.1rem;
    }
}
</style>
