<template>
    <div class="input-labelled-container">
        <b-form-textarea
            :value="value"
            @input="input"
            v-on="listeners"
            :id="id"
            :rows="rows"
            class="labelled"
            :class="{ 'non-empty': !inputEmpty }"
            v-if="textarea"
        ></b-form-textarea>

        <b-form-input
            :value="value"
            @input="input"
            v-on="listeners"
            v-bind="attrs"
            :id="id"
            :type="type"
            :number="type == 'number'"
            class="labelled"
            :class="{ 'non-empty': !inputEmpty }"
            v-else
        ></b-form-input>

        <label :for="id">{{ label }}</label>
    </div>
</template>

<script>
import BFormInput from "bootstrap-components/form-input/form-input";
import BFormTextarea from "bootstrap-components/form-textarea/form-textarea";

export default {
    name: "InputLabelled",
    components: { BFormInput, BFormTextarea },
    props: {
        label: String,
        value: null,
        id: String,
        showAppend: {
            type: Boolean,
            default: false
        },
        textarea: {
            type: Boolean,
            default: false
        },
        appendClass: String
    },
    computed: {
        inputEmpty: function() {
            return (
                this.value == null ||
                this.value == "" ||
                this.value == undefined
            );
        },
        listeners() {
            const { input, ...listeners } = this.$listeners;
            return listeners;
        },
        rows() {
            return this.$attrs.rows || 3;
        },
        type() {
            return this.$attrs.type || "text";
        },
        attrs() {
            const { rows, type, ...attrs } = this.$attrs;
            return attrs;
        }
    },
    methods: {
        input(event) {
            this.$emit("input", event);
        },

        enterPressed() {
            this.$emit("enterPressed");
        }
    }
};
</script>