<template>
    <b-badge :class="locationClass" style="border-radius: 2px">{{ locationFormatted }}</b-badge>
</template>

<script>
import BBadge from "bootstrap-components/badge/badge";

export default {
    name: "LocationBadge",
    components: { BBadge },
    props: {
        location: String
    },
    computed: {
        locationClass() {
            return "location-badge-" + this.location.toLowerCase();
        },
        locationFormatted() {
            switch (this.location.toLowerCase()) {
                case "sf":
                    return "San Francisco";
                case "bristol":
                    return "Bristol";
                case "london":
                    return "London";
                case "ebook":
                    return "eBook";
                default:
                    return "Unknown";
            }
        }
    }
};
</script>

<style lang="scss" scoped>
.location-badge {
    &-london {
        background-color: rgb(0, 123, 255);
    }
    &-bristol {
        background-color: rgb(220, 53, 69);
    }
    &-sf {
        background-color: rgb(40, 167, 69);
    }
    &-ebook {
        background-color: rgb(240, 164, 0);
    }
}
</style>
