<template>
    <svg
        class="logo"
        viewBox="-500 -500 1000 1000"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
    >
        <g id="Logo">
            <path
                v-if="round"
                class="septagon"
                d="M477.955669,-146.827716 C471.677697,-167.263860 469.770804,-172.546922 461.549343,-192.281574 C453.327882,-212.016226 440.304442,-237.884525 429.348184,-256.242340 C418.391927,-274.600154 394.003972,-308.574009 380.115223,-324.826749 C366.226475,-341.079490 337.102024,-369.890896 320.700146,-383.603202 C304.298269,-397.315508 282.875166,-412.842209 264.739110,-424.161766 C246.603053,-435.481323 243.604504,-437.165752 224.501997,-446.764875 C205.399491,-456.363997 213.278523,-452.735376 193.566855,-461.011792 C173.855187,-469.288209 170.146600,-470.645497 149.749249,-477.048386 C129.351898,-483.451275 103.378519,-489.663079 82.291352,-493.181643 C61.204185,-496.700208 21.251135,-500.005438 -0.127567,-499.999984 C-21.506269,-499.994529 -61.338116,-496.683687 -82.424334,-493.159436 C-103.510551,-489.635185 -129.429836,-483.430415 -149.826155,-477.024238 C-170.222473,-470.618060 -173.907409,-469.268859 -193.618155,-460.990249 C-213.328902,-452.711639 -205.547270,-456.297456 -224.646667,-446.692148 C-243.746064,-437.086839 -246.625898,-435.468386 -264.761361,-424.147877 C-282.896823,-412.827369 -304.317699,-397.300626 -320.718905,-383.587518 C-337.120112,-369.874410 -366.197736,-341.110344 -380.087854,-324.858774 C-393.977972,-308.607204 -418.410075,-274.572500 -429.365120,-256.213962 C-440.320164,-237.855423 -453.312444,-212.049233 -461.535342,-192.315180 C-469.758240,-172.581126 -471.668565,-167.289609 -477.947653,-146.853808 C-484.226741,-126.418007 -482.260125,-133.724420 -487.087343,-112.897829 C-491.914562,-92.071239 -492.712886,-87.698696 -495.556680,-66.509978 C-498.400474,-45.321261 -500.175470,-16.779396 -499.978854,4.598402 C-499.782238,25.976201 -495.588724,69.633794 -491.712417,90.658141 C-487.836111,111.682488 -475.787824,155.186968 -468.296295,175.210102 C-460.804766,195.233237 -447.594587,223.866332 -437.223314,242.560866 C-426.852041,261.255400 -423.057132,267.356900 -410.874486,284.924827 C-398.691839,302.492754 -402.542685,297.349013 -389.117430,313.986665 C-375.692175,330.624316 -371.666941,335.142856 -356.685012,350.393781 C-341.703084,365.644707 -318.282789,386.203463 -301.219044,399.082808 C-284.155299,411.962152 -244.409166,436.716394 -225.324369,446.350679 C-206.239573,455.984964 -162.355339,473.389684 -141.855086,479.455039 C-121.354833,485.520395 -89.570202,492.376104 -68.392443,495.300387 C-47.214684,498.224671 -39.832179,498.869168 -18.468065,499.658814 C2.896049,500.448461 -3.026135,500.447691 18.338184,499.663598 C39.702503,498.879505 47.116032,498.234010 68.294369,495.313920 C89.472707,492.393830 121.227198,485.552279 141.729045,479.492312 C162.230892,473.432346 206.126822,456.035944 225.214000,446.406378 C244.301179,436.776811 283.925416,412.120622 300.996344,399.250800 C318.067272,386.380977 341.499480,365.834873 356.489896,350.592290 C371.480313,335.349707 375.522639,330.816862 388.956421,314.186095 C402.390203,297.555328 398.544671,302.686627 410.735860,285.124628 C422.927049,267.562629 426.770786,261.388111 437.147872,242.696803 C447.524957,224.005494 460.751311,195.359356 468.248321,175.338273 C475.745330,155.317190 487.826571,111.724150 491.704673,90.700134 C495.582776,69.676118 499.782191,25.977111 499.978846,4.599313 C500.175501,-16.778485 498.399320,-45.333950 495.554986,-66.522595 C492.710653,-87.711240 491.914562,-92.071239 487.087343,-112.897829 C482.260125,-133.724420 484.233641,-126.391572 477.955669,-146.827716 Z"
            ></path>
            <path
                v-else
                class="septagon"
                d="M492.058936,-146.207481 C484.529759,-161.161443,476.006187,-175.594674,466.545478,-189.410213 C454.904962,-206.933446,440.585534,-227.101093,424.639622,-248.479437 C408.693711,-269.857780,391.631586,-292.351240,373.931624,-314.589814 C356.231662,-336.828389,338.148999,-358.716499,320.895522,-378.884148 C303.642046,-399.051795,287.377216,-417.403398,273.057788,-432.537099 C261.835665,-444.736298,249.795241,-456.158117,237.020028,-466.723332 C227.379116,-474.061761,216.343711,-479.362646,204.586044,-482.303079 C188.288706,-485.767584,171.772383,-488.109529,155.153719,-489.312373 C134.296466,-491.160277,109.675979,-492.498414,83.173874,-493.517948 C56.671769,-494.537482,28.256155,-495.047249,-0.127567,-495.047249 C-28.511290,-495.047249,-56.926904,-494.569342,-83.333333,-493.645389 C-109.739763,-492.721437,-134.360250,-491.287718,-155.281286,-489.439815 C-171.881841,-488.194951,-188.376980,-485.810407,-204.649828,-482.303079 C-216.450470,-479.373778,-227.529761,-474.072663,-237.211379,-466.723332 C-249.935566,-456.156817,-261.922867,-444.734853,-273.089680,-432.537099 C-287.472892,-417.403398,-303.865289,-399.019934,-320.927414,-378.884148 C-337.989539,-358.748360,-356.008419,-336.796529,-373.867840,-314.589814 C-391.727261,-292.383099,-408.948846,-269.985222,-424.703406,-248.479437 C-440.457967,-226.973651,-454.841179,-207.060888,-466.449802,-189.410213 C-475.887371,-175.579984,-484.410023,-161.148314,-491.963261,-146.207481 C-497.101154,-135.148486,-499.839984,-123.129045,-500.000000,-110.937992 C-499.581566,-94.397676,-498.090154,-77.901861,-495.535145,-61.554336 C-492.601097,-40.908783,-488.423268,-16.631140,-483.416252,9.398825 C-478.409236,35.428790,-472.636816,63.211079,-466.322235,90.929647 C-460.007654,118.648214,-453.278479,146.271200,-446.517413,172.014422 C-439.756347,197.757644,-432.995280,221.557379,-426.616915,241.629446 C-421.805136,257.674721,-415.989376,273.402248,-409.203980,288.719150 C-403.877146,299.683005,-396.188196,309.333691,-386.688353,316.979346 C-373.433113,326.850639,-359.587625,335.905185,-345.228983,344.092565 C-327.210103,354.638365,-305.619339,366.394862,-282.115066,378.724845 C-258.610792,391.054828,-233.129226,403.767136,-207.583875,416.160842 C-182.038525,428.554546,-156.269932,440.438483,-132.032147,451.207306 C-107.794362,461.976129,-85.023600,471.534256,-65.473912,479.117037 C-50.030720,485.395873,-34.214171,490.716068,-18.114555,495.047249 C-6.233428,497.755899,6.105861,497.755899,17.986988,495.047249 C34.095604,490.711372,49.922476,485.391287,65.378237,479.117037 C84.896033,471.534256,107.666794,461.944269,131.904580,451.207306 C156.142365,440.470344,181.910958,428.458964,207.456308,416.160842 C233.001658,403.862719,258.483225,391.086689,281.859931,378.820426 C305.236637,366.554163,326.923077,354.733947,344.941957,344.188147 C359.321909,336.035605,373.169523,326.979669,386.401327,317.074927 C395.901169,309.429273,403.590120,299.778586,408.916954,288.814731 C415.729135,273.483290,421.555897,257.733534,426.361781,241.661306 C432.740145,221.589240,439.501212,197.757644,446.230387,172.046283 C452.959561,146.334922,459.720628,118.648214,466.098992,90.929647 C472.477357,63.211079,478.281669,35.428790,483.320577,9.398825 C488.359485,-16.631140,492.537313,-40.908783,495.439469,-61.554336 C498.026168,-77.899817,499.549539,-94.395620,500.000000,-110.937992 C499.851901,-123.120017,497.146585,-135.135424,492.058936,-146.207481 Z"
            ></path>
            <path
                class="spuddy"
                d="M11.353489,199.814185 L4.177829,199.591162 C-100.714377,195.098843 -187.683378,143.739841 -173.650976,25.059766 C-166.156397,-38.023871 -166.060722,-131.661653 -145.394821,-191.591108 C-126.514862,-246.199873 -69.077688,-264.870080 -0.223243,-266.494962 C58.840413,-267.769379 87.734405,-219.692001 126.578645,-164.382307 C126.578645,-164.382307 128.492155,-161.865334 132.223498,-156.321620 C113.602023,-154.918292 98.461158,-140.769906 95.817291,-122.301829 C93.173425,-103.833751 103.737586,-86.012709 121.218816,-79.451135 C138.700046,-72.889562 158.397015,-79.352100 168.580176,-94.990306 C192.881745,-48.410368 209.593060,-2.595080 212.463324,27.385577 C223.721138,146.416117 114.459753,201.630229 11.353489,199.814185 Z"
            ></path>
            <path
                class="eye"
                d="M-1.754050,-113.118887 C-15.016761,-113.171569 -25.811082,-102.473348 -25.863887,-89.223695 C-25.916691,-75.974043 -15.207983,-65.190293 -1.945273,-65.137471 C11.317438,-65.084648 22.111872,-75.782755 22.164817,-89.032407 C22.181756,-95.378296 19.674611,-101.470994 15.194929,-105.970165 C10.715247,-110.469336 4.629985,-113.006428 -1.722158,-113.023306 L-1.754050,-113.118887 Z"
            ></path>
        </g>
    </svg>
</template>

<script>
export default {
    name: "Logo",
    props: {
        round: {
            type: Boolean,
            default: false
        }
    }
};
</script>

<style lang="scss" scoped>
svg.logo {
    width: 50px;

    .septagon,
    .eye {
        fill: #ad2b65;
    }

    .spuddy {
        fill: #ffffff;
    }
}
</style>
