<template>
    <b-navbar type="dark" variant="dark" class="ml-auto main-nav" toggleable="lg">
        <b-navbar-toggle target="navbar-collapse"></b-navbar-toggle>
        <b-navbar-brand :to="{ name: 'booksView' }">
            <img src="../assets/book-spuddy.png" class="spuddy">
            <h3 class="align-middle">Books</h3>
        </b-navbar-brand>

        <b-collapse is-nav id="navbar-collapse">
            <b-navbar-nav class="ml-auto mr-auto">
                <b-nav-item :to="{ name: 'booksView' }" class="px-2">Books View</b-nav-item>
                <b-nav-item :to="{ name: 'myBooks' }" class="px-2" v-if="!!$cookies.email">My Books
                    <b-badge variant="light" v-if="booksCount !== 0" class="ml-1">{{ booksCount }}</b-badge>
                </b-nav-item>
                <b-nav-item :to="{ name: 'adminView' }" class="px-2">Admin View</b-nav-item>
            </b-navbar-nav>
            <b-navbar-nav>
                <span v-if="!!$cookies.email">
                    <span class="align-middle current-email">{{ $cookies.email }}</span>
                    <b-button variant="link" @click="$removeCookie('email')">Sign Out</b-button>
                </span>

                <b-nav-form v-else @submit="signIn" class="mr-auto">
                    <b-input-group>
                        <transition name="swing">
                            <input-labelled
                                type="email"
                                v-if="signingIn"
                                v-model="email"
                                id="email"
                                label="Email"
                            ></input-labelled>
                        </transition>
                        <b-input-group-append v-if="signingIn">
                            <b-button variant="success" type="submit">Sign In</b-button>
                        </b-input-group-append>
                        <b-button variant="link" @click="signingIn = true" v-else>Sign In</b-button>
                    </b-input-group>
                </b-nav-form>
            </b-navbar-nav>
        </b-collapse>
    </b-navbar>
</template>

<script>
import Logo from "@/components/Logo";
import InputLabelled from "@/components/InputLabelled";

import BNavbar from "bootstrap-components/navbar/navbar";
import BNavbarNav from "bootstrap-components/navbar/navbar-nav";
import BCollapse from "bootstrap-components/collapse/collapse";
import BNavbarToggle from "bootstrap-components/navbar/navbar-toggle";
import BNavbarBrand from "bootstrap-components/navbar/navbar-brand";
import BNavItem from "bootstrap-components/nav/nav-item";
import BNavForm from "bootstrap-components/nav/nav-form";
import BFormInput from "bootstrap-components/form-input/form-input";
import BInputGroup from "bootstrap-components/input-group/input-group";
import BInputGroupAppend from "bootstrap-components/input-group/input-group-append";
import BNavItemDropdown from "bootstrap-components/nav/nav-item-dropdown";
import BDropdownItem from "bootstrap-components/dropdown/dropdown-item";
import BButton from "bootstrap-components/button/button";
import BBadge from "bootstrap-components/badge/badge";

import { EventBus } from './event-bus.js';

import axios from "axios";


export default {
    name: "NavBar",
    components: {
        Logo,
        InputLabelled,
        BNavbar,
        BNavbarNav,
        BCollapse,
        BNavbarToggle,
        BNavbarBrand,
        BNavItem,
        BNavForm,
        BInputGroup,
        BInputGroupAppend,
        BNavItemDropdown,
        BDropdownItem,
        BButton,
        BBadge
    },
    data: function() {
        return {
            signingIn: false,
            email: this.$cookies.email || null,
            booksCount: 0,
        };
    },
    computed: {
        storedEmail: {
            get: function() {
                return this.$cookies.email || null;
            },
            set: function(value) {
                if (value === null) {
                    this.$removeCookie("email");
                    this.booksCount = 0;
                    EventBus.$off('lendingChange', this.myBooksCount());
                } else {
                    this.$setCookie("email", value, { expires: 365 });
                    EventBus.$on('lendingChange', this.myBooksCount());
                }
            }
        }
    },

    mounted: function() {
        if (this.$cookies.email) {
            this.myBooksCount();
        }
    },

    methods: {
        signIn: function() {
            this.storedEmail = this.email;
            this.signingIn = false;
        },
        myBooksCount: function() {
            return axios
                .get("/api/copies", {
                    params: {
                        availability: "unavailable",
                        email: this.$cookies.email,
                    }
                })
                .then(response => {
                    this.booksCount = response.data.length;
                });
        },
    },
    created: function() {
        EventBus.$on('lendingChange', this.myBooksCount);
    }
};
</script>