<template>
    <b-modal
        size="lg"
        ok-title="Save"
        ok-variant="primary"
        :title="'Modify Request for “' + title + '”'"
        @shown="onShown"
        ref="requestModal"
        body-bg-variant="dark"
        body-text-variant="light"
        header-bg-variant="dark"
        header-text-variant="light"
        footer-bg-variant="dark"
        footer-text-variant="light"
        @ok="onSave"
    >
        <b-form-group
            label="Request Status: "
            label-cols="12"
            label-cols-lg="3"
            description="Status can only progress towards the right - it cannot go back afterwards. Completing a request creates the requested copies in the system."
        >
            <b-form-radio-group buttons button-variant="outline-primary" v-model="changedStatus">
                <b-form-radio
                    value="created"
                    button-variant="outline-secondary"
                    :disabled="spinners.status"
                >Requested</b-form-radio>
                <b-form-radio
                    value="ordered"
                    button-variant="outline-primary"
                    :disabled="spinners.status"
                >Ordered</b-form-radio>
                <b-form-radio
                    value="rejected"
                    button-variant="outline-danger"
                    :disabled="spinners.status"
                >Rejected</b-form-radio>
                <b-form-radio
                    value="completed"
                    button-variant="outline-success"
                    :disabled="spinners.status"
                >Completed</b-form-radio>
            </b-form-radio-group>
        </b-form-group>

        <b-form @submit="updateEmail">
            <b-form-group
                label="Admin Asignee: "
                label-cols="12"
                label-cols-md="3"
                description="Setting a new admin email will delegate this request to that person / department."
            >
                <input-labelled v-model="changedEmail" label="Email address"></input-labelled>
            </b-form-group>
        </b-form>
    </b-modal>
</template>

<script>
import axios from "axios";

import Spinner from "@/components/Spinner";
import InputLabelled from "@/components/InputLabelled";

import BModal from "bootstrap-components/modal/modal";
import BFormGroup from "bootstrap-components/form-group/form-group";
import BRow from "bootstrap-components/layout/row";
import BCol from "bootstrap-components/layout/col";
import BFormRadioGroup from "bootstrap-components/form-radio/form-radio-group";
import BFormRadio from "bootstrap-components/form-radio/form-radio";
import BForm from "bootstrap-components/form/form";
import BButton from "bootstrap-components/button/button";

export default {
    name: "RequestModal",
    components: {
        Spinner,
        InputLabelled,
        BModal,
        BFormGroup,
        BRow,
        BCol,
        BFormRadioGroup,
        BFormRadio,
        BForm,
        BButton
    },
    props: {
        title: String,
        status: String,
        adminEmail: String,
        id: Number
    },
    data: function() {
        return {
            changedStatus: null,
            changedEmail: null,
            spinners: {
                status: false,
                email: false
            }
        };
    },
    computed: {
        statusButtonDisabled() {
            const statuses = ["created", "ordered", "rejected", "completed"];

            return (
                this.spinners.status ||
                statuses.indexOf(this.changedStatus) <=
                    statuses.indexOf(this.status)
            );
        }
    },
    methods: {
        onShown: function() {
            this.$refs.requestModal.show();
            this.changedStatus = this.status;
            this.changedEmail = this.adminEmail;
        },
        onSave: function(event) {
            this.updateStatus()
                .then(response => this.updateEmail())
                .then(() => {
                    this.$emit("updated");
                })
                .catch(error => {
                    console.log(error);
                });
        },
        updateStatus: function() {
            if (this.status === this.changedStatus) {
                return Promise.resolve();
            }

            return axios.put(`/api/requests/${this.id}/status`, null, {
                params: {
                    status: this.changedStatus
                }
            });
        },
        updateEmail() {
            if (this.email === this.changedEmail) {
                return Promise.resolve();
            }

            return axios.put(`/api/requests/${this.id}/delegate`, null, {
                params: {
                    email: this.changedEmail
                }
            });
        }
    }
};
</script>

<style>
table {
    margin-top: 15px;
}
</style>
