<template>
    <div>
        <b-form>
            <b-alert
                :show="successCountdown"
                dismissible
                variant="success"
                @dismissed="successCountdown=0"
                @dismiss-count-down="successCountdownChanged"
            >
                <p>Copy request successfully created!</p>
                <b-progress
                    variant="success"
                    :max="successCountdownMax"
                    :value="successCountdown"
                    height="4px"
                ></b-progress>
            </b-alert>

            <b-alert
                variant="danger"
                dismissible
                :show="showFailureAlert"
                @dismissed="showFailureAlert=false"
            >Copy request creation failed! Server response:
                <pre><code>{{ errorMessage }}</code></pre>
            </b-alert>

            <b-row>
                <b-col>
                    <b-form-select text="Location" v-model="location" :options="locationList"/>
                </b-col>
                <b-col>
                    <input-labelled v-model="quantity" label="Quantity"></input-labelled>
                </b-col>
            </b-row>

            <b-row class="mt-2">
                <b-col>
                    <input-labelled v-model="email" label="Email address"></input-labelled>
                </b-col>
                <b-col cols="auto">
                    <b-button
                        v-if="!loading"
                        @click="requestBookCopy"
                        variant="primary"
                        :disabled="!formComplete"
                    >Request Copy</b-button>

                    <b-button
                        v-else
                        class="spinning"
                        @click="requestBookCopy"
                        variant="primary"
                        :disabled="!formComplete"
                    >
                        <spinner></spinner>
                    </b-button>
                </b-col>
            </b-row>
        </b-form>
    </div>
</template>

<script>
import axios from "axios";

import InputLabelled from "@/components/InputLabelled";
import Spinner from "@/components/Spinner";

import BForm from "bootstrap-components/form/form";
import BAlert from "bootstrap-components/alert/alert";
import BRow from "bootstrap-components/layout/row";
import BCol from "bootstrap-components/layout/col";
import BButton from "bootstrap-components/button/button";
import BFormSelect from "bootstrap-components/form-select/form-select";
import BProgress from "bootstrap-components/progress/progress";

export default {
    name: "RequestCopy",
    components: {
        InputLabelled,
        BForm,
        BAlert,
        BRow,
        BCol,
        BButton,
        BFormSelect,
        BProgress,
        Spinner
    },
    props: {
        bookId: {
            type: Number
        }
    },
    data: function() {
        return {
            locationList: [
                { value: null, text: "Location", disabled: true },
                { value: "bristol", text: "Bristol" },
                { value: "london", text: "London" },
                { value: "sf", text: "San Francisco" },
                { value: "ebook", text: "Ebook" }
            ],
            location: null,
            quantity: null,
            email: this.$cookies.email || null,
            adminEmail: "potatolibrary@gmail.com",
            successCountdown: 0,
            successCountdownMax: 5,
            showFailureAlert: false,
            errorMessage: "",
            loading: false
        };
    },
    computed: {
        formComplete: function() {
            return !(
                this.email == null ||
                this.adminEmail == null ||
                this.bookId == null ||
                this.quantity == null ||
                this.location == null
            );
        }
    },
    methods: {
        requestBookCopyTest: function() {
            this.loading = true;
            console.log(this.loading);
            setTimeout(() => (this.loading = false), 3000);
            console.log(this.loading);
        },

        requestBookCopy: function() {
            if (!this.formComplete) return;
            this.loading = true;

            let requestData = {
                email: this.email,
                adminEmail: this.adminEmail,
                bookId: this.bookId,
                quantity: parseInt(this.quantity),
                location: this.location
            };

            axios
                .post("/api/requests/", requestData)
                // .post("https://private-anon-14457b3d14-librarybetaapi.apiary-mock.com/api/requests", requestData)
                .catch(error => {
                    this.errorMessage = JSON.stringify(
                        error.response.data,
                        null,
                        4
                    );
                    this.showFailureAlert = true;
                    this.loading = false;
                })
                .then(response => {
                    this.successCountdown = this.successCountdownMax;
                    this.resetFields();
                    this.loading = false;
                });
        },
        resetFields: function() {
            this.location = null;
            this.email = null;
            this.quantity = null;
        },
        successCountdownChanged: function(successCountdown) {
            this.successCountdown = successCountdown;
        }
    }
};
</script>
