<template>
    <div>
        <b-row>
            <b-col
                v-if=" !$asyncComputed.reviews.success || reviews.length == 0"
            >No reviews for this book yet</b-col>
            <b-card-group columns v-else>
                <b-card
                    v-for="review in reviews"
                    v-bind:key="review.id"
                    class="mb-4"
                    bg-variant="primary"
                    footer-tag="footer"
                >
                    <b-card-title class="mb-2">{{ review.title }}</b-card-title>
                    <b-card-sub-title class="ml-1 mb-4">
                        <star-rating
                            :rating="review.rating"
                            :star-size="15"
                            active-color="#ffbf00"
                            glow-color="#ffbf00"
                            :padding="5"
                            read-only
                            :show-rating="false"
                        ></star-rating>
                        <b-button
                            class="mt-4"
                            variant="danger"
                            v-if="deleteMode"
                            @click="deleteReview(review.id)"
                        >Delete</b-button>
                    </b-card-sub-title>
                    {{ review.content }}
                    <b-row class="mt-3 ml-1">
                        <em>
                            <small>By {{review.email}}</small>
                        </em>
                    </b-row>
                </b-card>
            </b-card-group>
        </b-row>
    </div>
</template>

<script>
import axios from "axios";

import BButton from "bootstrap-components/button/button";
import BRow from "bootstrap-components/layout/row";
import BCol from "bootstrap-components/layout/col";
import BCard from "bootstrap-components/card/card";
import BCardBody from "bootstrap-components/card/card-body";
import BCardSubTitle from "bootstrap-components/card/card-sub-title";
import BCardTitle from "bootstrap-components/card/card-title";
import BCardGroup from "bootstrap-components/card/card-group";

import StarRating from "vue-star-rating";

export default {
    name: "ReviewsCards",
    components: {
        BButton,
        BRow,
        BCol,
        BCard,
        BCardBody,
        BCardSubTitle,
        BCardTitle,
        BCardGroup,
        StarRating
    },
    props: {
        bookId: {
            type: Number,
            required: true
        },
        deleteMode: {
            type: Boolean,
            default: false
        }
    },
    data: function() {
        return {
            spinners: {
                checkInOut: null
            },
            table: {
                fields,
                sort: {
                    by: "checkout_date",
                    desc: true
                }
            }
        };
    },
    methods: {
        deleteReview(id) {
            axios
                .delete(`/api/reviews/${id}`)
                .then(() => {
                    this.reviews = this.reviews.filter(
                        review => review.id !== id
                    );
                })
                .catch(error => {
                    console.log(error);
                });
        }
    },
    asyncComputed: {
        reviews() {
            let promise = axios.get("/api/reviews", {
                params: {
                    bookid: this.bookId
                }
            });

            return promise.then(response => {
                return response.data.content;
            });
        }
    }
};

const fields = {
    rating: {
        label: "Rating",
        sortable: true
    },
    available: {
        label: "Available",
        sortable: true
    },
    checkInOut: {
        label: ""
    }
};
</script>