<template>
    <div class="spinner">
        <logo :round="startRound"></logo>
    </div>
</template>

<script>
import Logo from "@/components/Logo";

export default {
    name: "Spinner",
    components: { Logo },
    props: {
        startRound: {
            type: Boolean,
            default: false
        }
    },
    mounted: function() {
        if (this.startRound) {
            this.$anime({
                targets: this.$el.querySelector(".septagon"),
                d: [
                    {
                        value:
                            "M492.058936,-146.207481 C484.529759,-161.161443,476.006187,-175.594674,466.545478,-189.410213 C454.904962,-206.933446,440.585534,-227.101093,424.639622,-248.479437 C408.693711,-269.857780,391.631586,-292.351240,373.931624,-314.589814 C356.231662,-336.828389,338.148999,-358.716499,320.895522,-378.884148 C303.642046,-399.051795,287.377216,-417.403398,273.057788,-432.537099 C261.835665,-444.736298,249.795241,-456.158117,237.020028,-466.723332 C227.379116,-474.061761,216.343711,-479.362646,204.586044,-482.303079 C188.288706,-485.767584,171.772383,-488.109529,155.153719,-489.312373 C134.296466,-491.160277,109.675979,-492.498414,83.173874,-493.517948 C56.671769,-494.537482,28.256155,-495.047249,-0.127567,-495.047249 C-28.511290,-495.047249,-56.926904,-494.569342,-83.333333,-493.645389 C-109.739763,-492.721437,-134.360250,-491.287718,-155.281286,-489.439815 C-171.881841,-488.194951,-188.376980,-485.810407,-204.649828,-482.303079 C-216.450470,-479.373778,-227.529761,-474.072663,-237.211379,-466.723332 C-249.935566,-456.156817,-261.922867,-444.734853,-273.089680,-432.537099 C-287.472892,-417.403398,-303.865289,-399.019934,-320.927414,-378.884148 C-337.989539,-358.748360,-356.008419,-336.796529,-373.867840,-314.589814 C-391.727261,-292.383099,-408.948846,-269.985222,-424.703406,-248.479437 C-440.457967,-226.973651,-454.841179,-207.060888,-466.449802,-189.410213 C-475.887371,-175.579984,-484.410023,-161.148314,-491.963261,-146.207481 C-497.101154,-135.148486,-499.839984,-123.129045,-500.000000,-110.937992 C-499.581566,-94.397676,-498.090154,-77.901861,-495.535145,-61.554336 C-492.601097,-40.908783,-488.423268,-16.631140,-483.416252,9.398825 C-478.409236,35.428790,-472.636816,63.211079,-466.322235,90.929647 C-460.007654,118.648214,-453.278479,146.271200,-446.517413,172.014422 C-439.756347,197.757644,-432.995280,221.557379,-426.616915,241.629446 C-421.805136,257.674721,-415.989376,273.402248,-409.203980,288.719150 C-403.877146,299.683005,-396.188196,309.333691,-386.688353,316.979346 C-373.433113,326.850639,-359.587625,335.905185,-345.228983,344.092565 C-327.210103,354.638365,-305.619339,366.394862,-282.115066,378.724845 C-258.610792,391.054828,-233.129226,403.767136,-207.583875,416.160842 C-182.038525,428.554546,-156.269932,440.438483,-132.032147,451.207306 C-107.794362,461.976129,-85.023600,471.534256,-65.473912,479.117037 C-50.030720,485.395873,-34.214171,490.716068,-18.114555,495.047249 C-6.233428,497.755899,6.105861,497.755899,17.986988,495.047249 C34.095604,490.711372,49.922476,485.391287,65.378237,479.117037 C84.896033,471.534256,107.666794,461.944269,131.904580,451.207306 C156.142365,440.470344,181.910958,428.458964,207.456308,416.160842 C233.001658,403.862719,258.483225,391.086689,281.859931,378.820426 C305.236637,366.554163,326.923077,354.733947,344.941957,344.188147 C359.321909,336.035605,373.169523,326.979669,386.401327,317.074927 C395.901169,309.429273,403.590120,299.778586,408.916954,288.814731 C415.729135,273.483290,421.555897,257.733534,426.361781,241.661306 C432.740145,221.589240,439.501212,197.757644,446.230387,172.046283 C452.959561,146.334922,459.720628,118.648214,466.098992,90.929647 C472.477357,63.211079,478.281669,35.428790,483.320577,9.398825 C488.359485,-16.631140,492.537313,-40.908783,495.439469,-61.554336 C498.026168,-77.899817,499.549539,-94.395620,500.000000,-110.937992 C499.851901,-123.120017,497.146585,-135.135424,492.058936,-146.207481 Z"
                    }
                ],
                fill: "rgb(172, 47, 101)",
                easing: "easeInOutSine",
                duration: 1000
            });
        }
    }
};
</script>