<template>
    <b-badge :class="statusClass" style="border-radius: 2px">{{ statusFormatted }}</b-badge>
</template>

<script>
    import BBadge from "bootstrap-components/badge/badge";

    export default {
        name: "StatusBadge",
        components: { BBadge },
        props: {
            status: String
        },
        computed: {
            statusClass() {
                return "status-badge-" + this.status.toLowerCase();
            },
            statusFormatted() {
                switch (this.status.toLowerCase()) {
                    case "created":
                        return "Requested";
                    case "ordered":
                        return "Ordered";
                    case "rejected":
                        return "Rejected";
                    case "completed":
                        return "Completed";
                    default:
                        return "Unknown";
                }
            }
        }
    };
</script>

<style lang="scss" scoped>
    .status-badge {
        &-completed {
            background-color: #28a745;
        }
        &-rejected {
            background-color: #dc3545;
        }
        &-ordered {
            background-color: #ac2f65;
        }
        &-created {
            background-color: #00bed0;
        }
    }
</style>
