<template>
    <div>
        <b-form>
            <b-alert
                :show="successCountdown"
                dismissible
                variant="success"
                @dismissed="successCountdown=0"
                @dismiss-count-down="successCountdownChanged"
            >
                <p>Review successfully submitted!</p>
                <b-progress
                    variant="success"
                    :max="successCountdownMax"
                    :value="successCountdown"
                    height="4px"
                ></b-progress>
            </b-alert>

            <b-alert
                variant="danger"
                dismissible
                :show="showFailureAlert"
                @dismissed="showFailureAlert=false"
            >Review submission failed! Server response:
                <pre><code>{{ errorMessage }}</code></pre>
            </b-alert>

            <b-row>
                <b-col>
                    <input-labelled v-model="title" label="Title"></input-labelled>
                </b-col>
                <b-col>
                    <b-form-select text="Rating" v-model="rating" :options="ratingList"/>
                </b-col>
                <b-col>
                    <input-labelled v-model="email" label="Email address"></input-labelled>
                </b-col>
            </b-row>
            <b-row class="mt-2"></b-row>

            <input-labelled v-model="content" id="content" label="Review" textarea rows="5"></input-labelled>

            <b-row class="mt-2">
                <b-col cols="auto">
                    <b-button
                        v-if="!loading"
                        @click="submitReview"
                        variant="primary"
                        :disabled="!formComplete"
                    >Submit Review</b-button>

                    <b-button
                        v-else
                        class="spinning"
                        @click="submitReview"
                        variant="primary"
                        :disabled="!formComplete"
                    >
                        <spinner></spinner>
                    </b-button>
                </b-col>
            </b-row>
        </b-form>
    </div>
</template>

<script>
import axios from "axios";

import InputLabelled from "@/components/InputLabelled";
import Spinner from "@/components/Spinner";

import BForm from "bootstrap-components/form/form";
import BAlert from "bootstrap-components/alert/alert";
import BRow from "bootstrap-components/layout/row";
import BCol from "bootstrap-components/layout/col";
import BButton from "bootstrap-components/button/button";
import BFormSelect from "bootstrap-components/form-select/form-select";
import BProgress from "bootstrap-components/progress/progress";

export default {
    name: "SubmitReview",
    components: {
        InputLabelled,
        BForm,
        BAlert,
        BRow,
        BCol,
        BButton,
        BFormSelect,
        BProgress,
        Spinner
    },
    props: {
        bookId: {
            type: Number
        }
    },
    data: function() {
        return {
            ratingList: [
                { value: null, text: "Your Rating", disabled: true },
                { value: 5, text: "5" },
                { value: 4, text: "4" },
                { value: 3, text: "3" },
                { value: 2, text: "2" },
                { value: 1, text: "1" }
            ],
            rating: null,
            email: this.$cookies.email || null,
            title: null,
            content: null,

            successCountdown: 0,
            successCountdownMax: 5,
            showFailureAlert: false,
            errorMessage: "",
            loading: false
        };
    },
    computed: {
        formComplete: function() {
            return !(
                this.email == null ||
                this.rating == null ||
                this.title == null ||
                this.content == null
            );
        }
    },
    methods: {
        submitReview: function() {
            if (!this.formComplete) return;
            this.loading = true;

            let reviewData = {
                email: this.email,
                bookId: this.bookId,
                title: this.title,
                rating: parseInt(this.rating),
                content: this.content
            };

            axios
                .post("/api/reviews/", reviewData)
                .catch(error => {
                    this.errorMessage = JSON.stringify(
                        error.response.data,
                        null,
                        4
                    );
                    this.showFailureAlert = true;
                    this.loading = false;
                })
                .then(response => {
                    this.successCountdown = this.successCountdownMax;
                    this.resetFields();
                    this.loading = false;
                });
        },
        resetFields: function() {
            this.email = null;
            this.rating = null;
            this.title = null;
            this.content = null;
        },
        successCountdownChanged: function(successCountdown) {
            this.successCountdown = successCountdown;
        }
    }
};
</script>
