$primary: rgb(172, 47, 101);
$primary-1-light: rgb(191, 99, 139);
$primary-2-light: rgb(212, 149, 177);
$primary-3-light: rgb(232, 200, 214);
$primary-1-dark: rgb(137, 40, 88);
$primary-2-dark: rgb(102, 32, 74);
$primary-3-dark: rgb(67, 25, 60);

$secondary: rgb(0, 190, 208);
$secondary-1-light: rgb(62, 205, 218);
$secondary-2-light: rgb(125, 221, 230);
$secondary-3-light: rgb(188, 236, 241);
$secondary-1-dark: rgb(8, 147, 168);
$secondary-2-dark: rgb(16, 104, 127);
$secondary-3-dark: rgb(24, 61, 86);

$dark: rgb(32, 18, 46);
$dark-1: rgb(86, 76, 97);
$dark-2: rgb(142, 135, 149);
$dark-3: rgb(197, 193, 200);

$prominent: rgb(242, 220, 93);
$prominent-1: rgb(182, 180, 83);
$prominent-2: rgb(132, 126, 71);
$prominent-3: rgb(82, 72, 59);

$text-light: rgb(255, 255, 255);
$text-light-muted: rgb(196, 192, 199);
$text-dark: rgb(33, 18, 47);
$text-dark-muted: rgb(65, 53, 77);
$text-neutral: rgb(131, 123, 139);

$gradient-primary: linear-gradient(to right, rgb(172, 47, 102) 0%, rgb(0, 190, 208) 100%);
$gradient-secondary: linear-gradient(to right, rgb(84, 19, 136) 0%, rgb(172, 47, 102) 100%);
