// import font
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800");

// weight variables
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

body {
    font-family: "Work Sans";
}
