@media (max-width: 991.980px) {
    h2 {
        font-size: 30px;
        line-height: 30px;
    }
}

// tablet and below
@media (max-width: 767.98px) {
    h4 {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 30px;
    }
}

// mobiles and below
@media (max-width: 575.98px) {
    #book-image {
        text-align: center;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 24px;
        line-height: 24px;
    }

    h3 {
        font-size: 18px;
        line-height: 18px;
    }

    h4 {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 30px;
    }
}
