/* Shrink */
.shrink-enter-active,
.shrink-leave-active {
    transition: transform 0.2s;
}

.shrink-enter,
.shrink-leave-to {
    transform: scale(0, 0);
}

.shrink-enter-to,
.shrink-leave {
    transform: scale(1, 1);
}

/* Slide Down */
.slide-down-enter-active,
.slide-down-leave-active {
    transition: transform 0.25s, opacity 0.25s;
}

.slide-down-enter,
.slide-down-leave-to {
    transform: translateY(-100%);
    opacity: 0;
}

/* Swing */
.swing-enter-active,
.swing-leave-active {
    transition: transform 0.5s, opacity 0.5s;
    transform-origin: right;
}

.swing-enter,
.swing-leave-to {
    transform: rotateY(-100deg);
    opacity: 0;
}

/* Spinner Animation */
.spinner > svg {
    animation: spinner-spin 1s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes spinner-spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
