<template>
    <b-form>
        <b-alert
            variant="warning"
            dismissible
            :show="alerts.fetchDataWarning"
            @dismissed="alerts.fetchDataWarning = false"
            fade
        >Could not find any data for this book on Google Books. You'll have to enter the book data manually, sorry.</b-alert>

        <b-form-group
            description="The book's ISBN (no dashes please). Click the barcode button to scan the ISBN from a barcode. Click the Fetch Data button to try to fetch the data for this book."
        >
            <b-row>
                <b-col>
                    <b-input-group>
                        <input-labelled
                            v-model="book.isbn"
                            label="ISBN"
                            id="isbn"
                            :state="!$v.book.isbn.$invalid"
                        ></input-labelled>

                        <b-input-group-append>
                            <b-button
                                :variant="scanningBarcode ? 'danger' : 'secondary'"
                                @click="scanningBarcode = !scanningBarcode"
                                class="btn"
                                :class="{ spinning: scanningBarcode }"
                            >
                                <spinner start-round v-if="scanningBarcode"></spinner>
                                <span v-else>
                                    Scan Barcode
                                </span>
                            </b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-col>
                <b-col cols="auto">
                    <b-button v-on:click="fetchByIsbn" :class="{ spinning: spinners.fetchData }">
                        <spinner start-round v-if="spinners.fetchData"></spinner>
                        <span v-else>Fetch Data</span>
                    </b-button>
                </b-col>
            </b-row>
        </b-form-group>

        <barcode-scanner
            :scanning="scanningBarcode"
            @result="(isbn) => { book.isbn = isbn; scanningBarcode = false; fetchByIsbn(); }"
            @error="scanningBarcode = false"
        ></barcode-scanner>

        <b-form-group>
            <input-labelled
                v-model="book.title"
                id="title"
                label="Title"
                :state="!$v.book.title.$invalid"
            ></input-labelled>
        </b-form-group>

        <b-form-group description="A description of the book ie. a blurb or synopsis.">
            <input-labelled
                v-model="book.description"
                id="description"
                label="Description"
                textarea
                rows="5"
            ></input-labelled>
        </b-form-group>

        <b-form-group
            description="URL for a thumbnail for this book. Leave blank if not applicable."
        >
            <input-labelled
                v-model="book.thumbnailUrl"
                id="thumbnailUrl"
                label="Thumbnail URL"
                type="url"
                :state="!$v.book.thumbnailUrl.$invalid"
            ></input-labelled>
        </b-form-group>

        <input-list
            :rows="book.authors.length"
            @add-row="book.authors.push({ firstName: '', lastName: ''})"
            @remove-row="(index) => book.authors.splice(index, 1)"
            v-slot="row"
            label="Authors"
            description="Press + to add another author."
        >
            <b-row>
                <b-col>
                    <input-labelled
                        v-model="book.authors[row.index].firstName"
                        :id="'author' + row.index + 'FirstName'"
                        label="First name"
                        :state="!$v.book.authors.$each[row.index].firstName.$invalid"
                    ></input-labelled>
                </b-col>
                <b-col>
                    <input-labelled
                        v-model="book.authors[row.index].lastName"
                        :id="'author' + row.index + 'LastName'"
                        label="Last name"
                        :state="!$v.book.authors.$each[row.index].lastName.$invalid"
                    ></input-labelled>
                </b-col>
            </b-row>
        </input-list>

        <input-list
            :rows="book.copies.length"
            @add-row="book.copies.push({ location: null, quantity: '1'})"
            @remove-row="(index) => book.copies.splice(index, 1)"
            v-slot="row"
            v-if="copyList"
            empty-allowed
            label="Copies"
            description="Press + to add another copy."
        >
            <b-row>
                <b-col>
                    <b-form-select
                        v-model="book.copies[row.index].location"
                        :state="!$v.book.copies.$each[row.index].location.$invalid"
                    >
                        <option :value="null" hidden disabled>Location</option>
                        <option value="bristol">Bristol</option>
                        <option value="london">London</option>
                        <option value="sf">San Francisco</option>
                        <option value="ebook">eBook</option>
                    </b-form-select>
                </b-col>
                <b-col>
                    <input-labelled
                        v-model="book.copies[row.index].quantity"
                        :id="'copy' + row.index + 'Quantity'"
                        label="Quantity"
                        :state="!$v.book.copies.$each[row.index].quantity.$invalid"
                    ></input-labelled>
                </b-col>
            </b-row>
        </input-list>
    </b-form>
</template>

<script>
import axios from "axios";

import InputLabelled from "@/components/InputLabelled";
import BarcodeScanner from "@/components/BarcodeScanner";
import InputList from "@/components/InputList";
import Spinner from "@/components/Spinner";
import Logo from "@/components/Logo";

import BForm from "bootstrap-components/form/form";
import BRow from "bootstrap-components/layout/row";
import BCol from "bootstrap-components/layout/col";
import BAlert from "bootstrap-components/alert/alert";
import BFormGroup from "bootstrap-components/form-group/form-group";
import BButton from "bootstrap-components/button/button";
import BFormSelect from "bootstrap-components/form-select/form-select";
import BInputGroup from "bootstrap-components/input-group/input-group";
import BInputGroupAppend from "bootstrap-components/input-group/input-group-append";

import {
    required,
    minLength,
    not,
    url,
    requiredIf,
    minValue,
    integer,
    helpers
} from "vuelidate/lib/validators";

const isIsbn = helpers.regex("isIsbn", /^(97(8|9))?\d{9}(\d|X)$/);

export default {
    name: "BookDetailsForm",
    components: {
        InputLabelled,
        BarcodeScanner,
        InputList,
        Spinner,
        Logo,
        BForm,
        BRow,
        BCol,
        BAlert,
        BFormGroup,
        BButton,
        BFormSelect,
        BInputGroup,
        BInputGroupAppend
    },
    props: {
        copyList: {
            type: Boolean,
            default: false
        }
    },
    created: function() {
        this.$emit("input", this.book);
        if (this.copyList)
            this.$set(this.book, "copies", [
                {
                    location: null,
                    quantity: ""
                }
            ]);
    },
    data: function() {
        return {
            book: {
                isbn: null,
                title: "",
                description: "",
                thumbnailUrl: "",
                authors: [
                    {
                        firstName: "",
                        lastName: ""
                    }
                ]
            },
            scanningBarcode: false,
            alerts: {
                fetchDataWarning: false
            },
            spinners: {
                fetchData: false
            }
        };
    },
    methods: {
        bookChanged: function() {
            this.$emit("input", this.book);
        },
        fetchByIsbn: function() {
            this.spinners.fetchData = true;
            axios
                .get("https://www.googleapis.com/books/v1/volumes", {
                    params: {
                        q: "isbn:" + this.book.isbn,
                        key: process.env.VUE_APP_GOOGLE_BOOKS_KEY,
                        format: "json",
                        jscmd: "data"
                    }
                })
                .then(response => {
                    this.spinners.fetchData = false;

                    if (
                        response.status !== 200 ||
                        response.data.totalItems === 0
                    ) {
                        this.alerts.fetchDataWarning = true;
                        return;
                    }

                    let data = response.data.items[0].volumeInfo;

                    this.book.thumbnailUrl = data.imageLinks.thumbnail;
                    this.book.title = data.title;
                    this.book.description = data.description;

                    if (data.authors !== undefined) {
                        this.book.authors = [];
                        for (let author of data.authors) {
                            let authorNames = author.split(" ");
                            this.book.authors.push({
                                firstName: authorNames[0],
                                lastName: authorNames.slice(1).join(" ")
                            });
                        }
                    }
                })
                .catch(error => {
                    console.log(error);
                    this.spinners.fetchData = false;
                });
        }
    },
    validations: {
        book: {
            isbn: {
                isIsbn
            },
            title: {
                required,
                minLength: minLength(1)
            },
            thumbnailUrl: {
                url
            },
            authors: {
                required,
                minLength: minLength(1),
                $each: {
                    firstName: {
                        required: requiredIf(v => v.firstName == v.lastName)
                    },
                    lastName: {
                        required: requiredIf(v => v.firstName == v.lastName)
                    }
                }
            },
            copies: {
                $each: {
                    location: {
                        required
                    },
                    quantity: {
                        required,
                        integer,
                        minValue: minValue(1)
                    }
                }
            }
        }
    },
    watch: {
        "$v.$invalid": function(val) {
            this.$emit("update:valid", !val);
        }
    }
};
</script>