
<!--Is this ever used??-->

<template>
    <b-form>
        <b-row>
            <b-col>
                <b-form-group description="Location the new book should be ordered to.">
                    <b-form-select
                        v-model="request.location"
                        :state="!$v.request.location.$invalid"
                    >
                        <option :value="null" hidden disabled>Location</option>
                        <option value="bristol">Bristol</option>
                        <option value="london">London</option>
                        <option value="sf">San Francisco</option>
                        <option value="ebook">eBook</option>
                    </b-form-select>
                </b-form-group>
            </b-col>
            <b-col>
                <b-form-group description="Quantity of copies of this book required.">
                    <input-labelled
                        v-model="request.quantity"
                        label="Quantity"
                        :state="!$v.request.quantity.$invalid"
                    ></input-labelled>
                </b-form-group>
            </b-col>
        </b-row>

        <b-form-group description="Enter your email address.">
            <input-labelled
                v-model="request.email"
                type="email"
                label="Email"
                :state="!$v.request.email.$invalid"
            ></input-labelled>
        </b-form-group>
    </b-form>
</template>

<script>
import InputLabelled from "@/components/InputLabelled";

import BForm from "bootstrap-components/form/form";
import BRow from "bootstrap-components/layout/row";
import BCol from "bootstrap-components/layout/col";
import BFormGroup from "bootstrap-components/form-group/form-group";
import BFormSelect from "bootstrap-components/form-select/form-select";

import { required, minValue, integer, email } from "vuelidate/lib/validators";

export default {
    name: "RequestDetailsForm",
    components: { InputLabelled, BForm, BRow, BCol, BFormGroup, BFormSelect },
    created: function() {
        this.$emit("input", this.request);
    },
    data: function() {
        return {
            request: {
                location: null,
                quantity: "1",
                email: this.$cookies.email || null
            }
        };
    },
    validations: {
        request: {
            location: {
                required
            },
            quantity: {
                required,
                integer,
                minValue: minValue(1)
            },
            email: {
                required,
                email
            }
        }
    },
    watch: {
        "$v.$invalid": function(val) {
            this.$emit("update:valid", !val);
        }
    }
};
</script>
