<template>
    <div>
        <b-row class="mb-2">
            <b-col cols="12" md="6" class="pr-md-3">
                <b-input-group>
                    <input-labelled
                        type="text"
                        id="search"
                        label="Search query"
                        show-append
                        append-class="input-group-append-secondary"
                        v-debounce:800ms="changeSearch"
                        :value="search"
                    ></input-labelled>
                    <b-input-group-append>
                        <b-button
                            @click="changeSearch(this.search)"
                        >
                                Search
                        </b-button>
                    </b-input-group-append>
                </b-input-group>
            </b-col>
            <b-col cols="12" md="6" class="mt-2 mt-md-0 pl-md-3">
                <b-form-select v-model="location" class="mb-1">
                    <option value="anywhere" selected disabled>Filter by location...</option>
                    <option value="anywhere">Anywhere</option>
                    <option value="bristol">Bristol</option>
                    <option value="london">London</option>
                    <option value="sf">San Francisco</option>
                    <option value="ebook">eBook</option>
                </b-form-select>
            </b-col>
        </b-row>
        <b-row class="mb-4">
            <b-col cols="3" md="3">
                <b-button
                        :variant="scanningBarcode ? 'danger' : 'secondary'"
                        @click="scanningBarcode = !scanningBarcode"
                        class="btn"
                        :class="{ spinning: scanningBarcode }"
                >
                    <spinner start-round v-if="scanningBarcode"></spinner>
                    <span v-else>
                                Scan Barcode
                            </span>
                </b-button>
            </b-col>
            <b-col cols="6" md="3" offset-md="3" class="pl-md-3 pr-1">
                <b-form-select v-model="sort.by">
                    <option value="id" selected disabled>Sort by...</option>
                    <option value="id">ID</option>
                    <option value="title">Title</option>
                    <option value="popularity">Popularity</option>
                </b-form-select>
            </b-col>
            <b-col cols="6" md="3" class="pl-1">
                <b-form-select v-model="sort.desc">
                    <option :value="false" selected>Ascending</option>
                    <option :value="true">Descending</option>
                </b-form-select>
            </b-col>
        </b-row>

        <barcode-scanner
            :scanning="scanningBarcode"
            @result="(isbn) => { search = isbn; scanningBarcode = false; }"
            @error="scanningBarcode = false"
        ></barcode-scanner>

        <b-table
            hover
            :fields="fields"
            :items="books"
            :busy="$asyncComputed.books.updating"
            @row-clicked="rowClicked"
            show-empty
            stacked="md"
        >
            <template slot="table-busy">
                <transition name="shrink" appear>
                    <spinner></spinner>
                </transition>
            </template>

            <template slot="empty">
                <span>No books available!
                    <b-button
                        variant="link"
                        v-if="location != 'anywhere'"
                        @click="location='anywhere'"
                    >Try without location filter?</b-button>
                </span>
            </template>

            <template slot="averageRating" slot-scope="row">
                <star-rating
                    v-if="!isNaN(row.item.averageRating)"
                    :rating="row.item.averageRating"
                    :star-size="15"
                    active-color="#ffbf00"
                    glow-color="#ffbf00"
                    :padding="5"
                    read-only
                    :increment="0.01"
                ></star-rating>
            </template>
        </b-table>

        <b-row>
            <b-col v-if="!!totalRows" cols="auto">
                <b-pagination :total-rows="totalRows" v-model="page" :per-page="20"></b-pagination>
            </b-col>
            <b-col cols="12" md="auto" class="ml-md-auto ml-0">
                <b-button
                    :to="{ name: 'requestBook' }"
                    class="float-md-right"
                    variant="primary"
                >Request new book</b-button>
            </b-col>
        </b-row>
    </div>
</template>

<script>
import axios from "axios";

import BarcodeScanner from "@/components/BarcodeScanner";
import Spinner from "@/components/Spinner";
import InputLabelled from "@/components/InputLabelled";

import BRow from "bootstrap-components/layout/row";
import BCol from "bootstrap-components/layout/col";
import BTable from "bootstrap-components/table/table";
import BPagination from "bootstrap-components/pagination/pagination";
import BButton from "bootstrap-components/button/button";
import BFormSelect from "bootstrap-components/form-select/form-select";
import BInputGroup from "bootstrap-components/input-group/input-group";
import BInputGroupAppend from "bootstrap-components/input-group/input-group-append";

import StarRating from "vue-star-rating";

const fields = {
    title: {},
    authorsStr: { label: "Authors" },
    popularity: {},
    averageRating: { label: "Rating" }
};

export default {
    name: "BooksView",
    components: {
        Spinner,
        InputLabelled,
        BarcodeScanner,
        BRow,
        BCol,
        BTable,
        BPagination,
        BButton,
        BFormSelect,
        BInputGroup,
        BInputGroupAppend,
        StarRating
    },
    data: function() {
        return {
            fields,
            totalRows: null,
            sort: {
                by: "id",
                desc: false
            },
            scanningBarcode: false
        };
    },
    computed: {
        search: {
            get() {
                return this.$route.query.search || "";
            },
            set(search) {
                if (search === "") search = undefined;

                this.$router.push({
                    name: "booksView",
                    query: { ...this.$route.query, search }
                });
            }
        },
        location: {
            get() {
                return this.$route.query.location || "anywhere";
            },
            set(location) {
                if (location === "anywhere") location = undefined;

                this.$router.push({
                    name: "booksView",
                    query: { ...this.$route.query, location }
                });
            }
        },
        page: {
            get() {
                if (!this.$route.query.page) return 1;
                return parseInt(this.$route.query.page);
            },
            set(page) {
                if (page === 1) page = undefined;

                this.$router.push({
                    name: "booksView",
                    query: { ...this.$route.query, page }
                });
            }
        }
    },

    asyncComputed: {
        books() {
            let sortBy = this.sort.by;
            if (sortBy === "id") sortBy = "book_id";

            return axios
                .get("/api/books", {
                    params: {
                        ...{
                            page: this.page,
                            sortby: sortBy,
                            sortdirection: this.sort.desc ? "DESC" : "ASC",
                            query: this.search,
                            location: this.location
                        }
                    }
                })
                .then(response => {
                    this.totalRows = response.data.totalElements;

                    let books = response.data.content;
                    for (let book of books) {
                        book.authorsStr = book.authors
                            .map(
                                author =>
                                    author.firstName + " " + author.lastName
                            )
                            .join(", ");
                    }

                    return books;
                });
        }
    },
    methods: {
        changeSearch(search) {
            this.search = search;
            this.page = 1;
        },
        rowClicked(row) {
            this.$router.push({
                name: "singleBookView",
                params: { id: row.id }
            });
        }
    }
};
</script>