<template>
    <div>
        <b-alert
            show
            variant="danger"
            v-if="this.$cookies.email == null"
        >Please sign in to view your currently checked out books!</b-alert>

        <div v-if="this.$cookies.email != null">
            <b-table
                hover
                ref="table"
                :items="getCopies"
                :fields="fields"
                stacked="md"
                empty-text="You don't have any books"
                :show-empty="firstLoad"
                @row-clicked="rowClicked"
                @refreshed="firstLoad = true"
            >
                <template slot="location" slot-scope="row">
                    <location-badge :location="row.item.location"></location-badge>
                </template>

                <template
                    slot="lending.checkOutDate"
                    slot-scope="row"
                >{{ getDaysCount(row.item.lending.checkOutDate) }}</template>

                <template slot="table-busy">
                    <spinner></spinner>
                </template>
            </b-table>

            <!--<b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage"/>-->
        </div>
    </div>
</template>

<script>
import axios from "axios";
import dayjs from "dayjs";

import Spinner from "@/components/Spinner";
import LocationBadge from "@/components/LocationBadge";

import BAlert from "bootstrap-components/alert/alert";
import BTable from "bootstrap-components/table/table";
import BPagination from "bootstrap-components/pagination/pagination";

const fields = {
    "book.title": { label: "Book Title" },
    location: { label: "Location" },
    "lending.checkOutDate": { label: "Days Since Check Out" }
};

export default {
    name: "MyBooks",
    components: { Spinner, LocationBadge, BAlert, BTable },
    data: function() {
        return {
            fields,
            firstLoad: false,
            totalRows: 0,
            // perPage: 20,
            // currentPage: 1
        };
    },
    methods: {
        getCopies: function(context, callback) {
            if (this.$cookies.email == null) return;
            this.loaded = false;

            let promise = axios.get("/api/copies", {
                params: {
                    // page: context.currentPage,
                    // limit: context.perPage,
                    availability: "unavailable",
                    email: this.$cookies.email,
                    sortby: "checkout_date"
                }
            });

            return promise.then(response => {
                this.totalRows = response.data.totalElements;

                return response.data;
            });
        },
        getDaysCount: function(timestamp) {
            return dayjs().diff(dayjs(timestamp), "days");
        },
        rowClicked(row) {
            this.$router.push({
                name: "singleBookView",
                params: { id: row.book.id }
            });
        }
    }
};
</script>