<template>
    <b-row>
        <b-col cols="12" lg="7" class="mb-3">
            <b-alert
                :show="alerts.success"
                dismissible
                variant="success"
                @dismissed="alerts.success = false"
            >Request successfully created!</b-alert>

            <b-alert
                variant="danger"
                dismissible
                :show="alerts.failure !== null"
                @dismissed="alerts.failure = null"
            >Request creation failed! Details:
                <pre><code>{{ alerts.failure }}</code></pre>
            </b-alert>

            <h3>Book Details</h3>
            <book-details-form v-model="book" @update:valid="v => validity.book = v"></book-details-form>

            <h3 class="mt-5">Request Details</h3>
            <request-details-form v-model="request" @update:valid="v => validity.request = v"></request-details-form>

            <b-button
                variant="primary"
                :disabled="!(validity.book && validity.request)"
                @click="submitRequest"
                :class="{ spinning: spinners.submitRequest }"
            >
                <spinner v-if="spinners.submitRequest" start-round></spinner>
                <span v-else>Submit Request</span>
            </b-button>
        </b-col>

        <b-col cols="12" lg="5" class="mb-3">
            <book-preview v-bind="book" img-top></book-preview>
        </b-col>
    </b-row>
</template>

<script>
import axios from "axios";

import BookPreview from "@/components/BookPreview";
import BookDetailsForm from "@/forms/BookDetailsForm";
import RequestDetailsForm from "@/forms/RequestDetailsForm";
import Spinner from "@/components/Spinner";

import BRow from "bootstrap-components/layout/row";
import BCol from "bootstrap-components/layout/col";
import BAlert from "bootstrap-components/alert/alert";
import BButton from "bootstrap-components/button/button";

export default {
    name: "RequestBook",
    components: {
        BookPreview,
        BookDetailsForm,
        RequestDetailsForm,
        Spinner,
        BRow,
        BCol,
        BAlert,
        BButton
    },
    data: function() {
        return {
            book: null,
            request: null,
            validity: {
                book: false,
                request: false
            },
            alerts: {
                success: false,
                failure: null
            },
            spinners: {
                submitRequest: false
            }
        };
    },
    computed: {
        formComplete: function() {
            return !(
                this.title == "" ||
                this.location == null ||
                this.quantity == null ||
                this.email == null
            );
        }
    },
    methods: {
        submitRequest: function() {
            if (!this.book || !this.request) return;

            this.spinners.submitRequest = true;
            this.createBook()
                .then(id => this.createRequest(id))
                .then(response => {
                    this.alerts.success = true;
                    this.resetFields();
                })
                .catch(error => (this.alerts.failure = JSON.stringify(error)))
                .then(() => (this.spinners.submitRequest = false));
        },
        createBook: function() {
            return axios
                .post("/api/books", this.book, {
                    validateStatus: status => status === 201
                })
                .then(response => response.data.id);
        },
        createRequest: function(id) {
            let requestData = {
                bookId: id,
                location: this.request.location,
                quantity: this.request.quantity,
                email: this.request.email,
                adminEmail: "potatolibrary@gmail.com" // TODO
            };

            return axios.post("/api/requests", requestData, {
                validateStatus: status => status === 201
            });
        },
        resetFields: function() {
            this.book.isbn = "";
            this.book.title = "";
            this.book.description = "";
            this.book.thumbnailUrl = "";
            this.book.authors = [
                {
                    firstName: "",
                    lastName: ""
                }
            ];

            this.request.location = null;
            this.request.quantity = "1";
            this.request.email = "";
        }
    }
};
</script>
