<template>
    <div v-if="!book" class="text-center">
        <spinner></spinner>
    </div>
    <div v-else>
        <b-row>
            <b-col v-if="backButton">
                <b-button variant="link" @click="$router.go(-1)">Back</b-button>
            </b-col>
            <b-col>
                <b-button variant="link" class="float-right text-danger" :to="{name:'deleteBookCopy',params:{id:id}}">Delete Book or Copy</b-button>
            </b-col>
        </b-row>
        <b-row class="mb-3">
            <b-col sm="auto" id="book-image">
                <b-img
                    :src="book.thumbnailUrl || require('../assets/no_image.svg')"
                    v-if="book.thumbnailUrl"
                ></b-img>
            </b-col>

            <b-col>
                <h2 class="mb-1">{{ book.title }}</h2>
                <h4 class="mb-0">By {{ authorsStr }}</h4>
                <small>ISBN: {{book.isbn}}</small>
            </b-col>
        </b-row>

        <p class="mb-5 text-justify">{{ book.description || "No description" }}</p>

        <h3 class="mb-1">Copies of this book</h3>
        <copies-table :book-id="id"></copies-table>

        <b-button
            v-b-toggle.request-form
            variant="primary"
            v-scroll-to="'#request-form'"
            class="d-block"
        >Request another copy at your location</b-button>

        <b-collapse id="request-form">
            <b-card bg-variant="dark" text-variant="light">
                <request-copy :book-id="id"></request-copy>
            </b-card>
        </b-collapse>

        <h3 class="mb-1 mt-4">Reviews of this book</h3>

        <b-button
            class="mb-2 d-block"
            v-b-toggle.review-form
            variant="link"
            v-scroll-to="'#review-form'"
        >Write a Review</b-button>

        <b-collapse id="review-form">
            <b-card bg-variant="dark" text-variant="light">
                <submit-review :book-id="id"></submit-review>
            </b-card>
        </b-collapse>

        <small
            class="ml-3 d-inline-block"
            v-if="book.averageRating == NaN"
        >Average rating: {{ book.averageRating }}</small>

        <ReviewsCards :book-id="id"></ReviewsCards>
    </div>
</template>

<script>
import axios from "axios";

import Spinner from "@/components/Spinner";
import CopiesTable from "@/components/CopiesTable";
import RequestCopy from "@/components/RequestCopy";
import SubmitReview from "@/components/SubmitReview";
import BookPreview from "@/components/BookPreview";
import ReviewsCards from "@/components/ReviewsCards";

import BButton from "bootstrap-components/button/button";
import BRow from "bootstrap-components/layout/row";
import BCol from "bootstrap-components/layout/col";
import BCollapse from "bootstrap-components/collapse/collapse";
import BCard from "bootstrap-components/card/card";
import BImg from "bootstrap-components/image/img";

import BToggle from "bootstrap-directives/toggle/toggle";

export default {
    name: "SingleBookView",
    components: {
        Spinner,
        CopiesTable,
        RequestCopy,
        SubmitReview,
        BookPreview,
        BButton,
        BRow,
        BCol,
        BCollapse,
        BCard,
        BImg,
        ReviewsCards
    },
    directives: { BToggle },
    props: {
        id: {
            type: Number,
            required: true
        }
    },
    data: () => ({
        backButton: false
    }),
    computed: {
        authorsStr: function() {
            return this.book.authors
                .map(author => author.firstName + " " + author.lastName)
                .join(", ");
        }
    },
    asyncComputed: {
        book() {
            return axios
                .get(`/api/books/${this.id}`)
                .then(response => response.data);
        }
    },
    beforeRouteEnter(to, from, next) {
        next(v => {
            v.backButton = from.name === "booksView";
        });
    }
};
</script>